<div class="page-header border-b">
   <h2 class="float-left">My Quotes</h2>
</div>
<div class="table-responsive">
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Quote Name and ID</th>
            <th>Valid Thru Date</th>
            <th>Account</th>
            <th>Status</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td colspan="4"> No Records Found.</td>
         </tr>
      </tbody>
   </table>
</div>