<div class="page-header">
  <h2 class="float-left">Attributes</h2>
</div>
<div class="panel-group" id="subsubaccordionMenu1" role="tablist" aria-multiselectable="true">
  <div class="row">
    <div class="col-md-4 col-sm-4 ">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc1" aria-expanded="false" aria-controls="collapseTwo">
            OMS FiO India Registration
            </a>
          </h4>
        </div>
        <div id="acc1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">FIO_IND_OMS_SW_USG</label>
              <div class="col-sm-5">
                <select class="ui dropdown search form-control input-sm" >
                  <option >--Select--</option>
                  <option value="Excel">Excel</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">FIO_IND_OMS_WHS</label>
              <div class="col-sm-5">
                <select class="ui dropdown search form-control input-sm" >
                  <option >--Select--</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label clearfix">FIO_IND_OMS_ORDER_VOlUME</label>
              <div class="col-sm-5">
                <select class="ui dropdown search form-control input-sm" >
                  <option value="">--Select--</option>
                  <option value="0-100">0-100</option>
                  <option value="100-300">100-300</option>
                  <option value="300-1000">300-1000</option>
                  <option value="1000-2000">1000-2000</option>
                  <option value="More than 2000">More than 2000</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">FIO_IND_OMS_SKUs	</label>
              <div class="col-sm-5">
                <select class="ui dropdown search form-control input-sm" >
                  <option value="">--Select--</option>
                  <option value="0-100">0-100</option>
                  <option value="100-300">100-300</option>
                  <option value="300-1000">300-1000</option>
                  <option value="1000-2000">1000-2000</option>
                  <option value="2000-5000">2000-5000</option>
                  <option value="More than 5000">More than 5000</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">	FIO_IND_OMS_MK_ACC</label>
              <div class="col-sm-5">
                <select class="ui dropdown search form-control input-sm" >
                  <option value="">--Select--</option>
                  <option value="0">0</option>
                  <option value="1-3">1-3</option>
                  <option value="4-8">4-8</option>
                  <option value="More than 8">More than 8</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc2" aria-expanded="false" aria-controls="acc2">
            Social Media
            </a>
          </h4>
        </div>
        <div id="acc2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Twitter Name	</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Twitter Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Twitter Followers		</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Twitter Followers">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Facebook Name	</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Facebook Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Facebook Followers	</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Facebook Followers">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Instagram Name		</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Instagram Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Instagram Followers		</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Instagram Followers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc3" aria-expanded="false" aria-controls="acc3">
            Production
            </a>
          </h4>
        </div>
        <div id="acc3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-7 col-form-label">Industry</label>
              <div class="col-sm-5">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Industry">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 ">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc4" aria-expanded="false" aria-controls="acc4">
            Request a Demo - RMS
            </a>
          </h4>
        </div>
        <div id="acc4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Email">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc5" aria-expanded="false" aria-controls="collapseTwo">
            Request a Demo - ERP
            </a>
          </h4>
        </div>
        <div id="acc5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Email">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc6" aria-expanded="false" aria-controls="acc6">
            Contact Sales
            </a>
          </h4>
        </div>
        <div id="acc6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Email">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 ">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc7" aria-expanded="false" aria-controls="acc7">
            Free Consultation
            </a>
          </h4>
        </div>
        <div id="acc7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Email">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="subaccordion">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#subaccordionMenu1" href="#acc8" aria-expanded="false" aria-controls="acc8">
            Lead Qualifiers
            </a>
          </h4>
        </div>
        <div id="acc8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
          <div class="panel-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-5 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Email">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="form-group row">
      <div class="offset-sm-5 col-sm-5">
        <button type="reset" class="btn btn-sm btn-primary mt">Update</button>
      </div>
    </div>
  </div>
</div>