<#include "component://homeapps/webapp/homeapps/lib/ofbizFormMacros.ftl"/>
<#--  <ul class="nav nav-tabs mt-2">
  <li class="nav-item active"><a data-toggle="tab" href="#home" class="nav-link active show">Dashboard</a></li>
  <li  class="nav-item"><a data-toggle="tab" href="#menu1" class="nav-link">Calendar</a></li> 
</ul> -->

<#--
<div class="tab-content">
  <div id="home" class="tab-pane fade show active">
  		
  		${screens.render("component://campaign/webapp/widget/campaign/screens/campaign/CampaignScreens.xml#rmsDashboard")}
    
    </div>
  <div id="menu1" class="tab-pane">
    	${screens.render("component://campaign/webapp/widget/campaign/screens/campaign/CampaignScreens.xml#rmsCalender")}
    	
    </div>
  
</div> -->

<div id="home">
    ${screens.render("component://campaign/webapp/widget/campaign/screens/campaign/CampaignScreens.xml#rmsDashboard")}
</div>