/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.progress-bar {
	background-color: #00AFF0;
}

.page-header.navbar .menu-toggler.dropdown-toggle {
	float: right;
	margin: 30px 0 0 0;
}

.thumbnail .caption {
	font-size: 10px;	
}

.generated-dashboard .tab-content {
	min-height: 200px;
}

.generated-dashboard .tab-content .tab-pane {
	padding: 10px;
}

/* widget configuration */
/*
.config-widget-portlet .mix-inner {
	min-height: 112px;
}
.config-widget-portlet .mix-inner img {
	width: 100%; 
	max-height: 100px;
	min-height: 112px;
}
.config-widget-portlet .caption {
	max-width: 82%;
}
.config-widget-portlet .caption .caption-subject {
	font-size: 12px !important;
}
*/

.config-widget-portlet .thumbnail {
	min-height: 112px;
}
.config-widget-portlet .thumbnail img {
	width: 100%; 
	max-height: 60px;
}
.config-widget-portlet .caption {
	max-width: 80%;
}
.config-widget-portlet > .portlet-title > .caption {
	padding-bottom: 5px !important;
}
.config-widget-portlet .caption .caption-subject {
	font-size: 12px !important;
}

/* @media (min-width: 1200px) {
  
	.config-widget-portlet .thumbnail img {
		width: 100%; 
		max-height: 600px;
	}
  
} */

.portlet > .portlet-title > .tools > a {
	color: #ccc;
}

.portlet.portlet-sortable.light.bg-inverse.config-widget-portlet.mix {
    width: 100% !important;
}

.page-header.navbar .search-form {
    background: none !important;
}

.page-header.navbar .search-form .input-group {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ced6de;
}

/* Media specific css [start] */

@media (min-width: 490px) and (max-width: 540px) {
	.page-header.navbar .search-form {
	    float: none !important;
	    margin-left: 33%!important;
	    margin-top: 4.5% !important;
		margin-right:0px !important;
	}
}

@media (min-width: 541px) and (max-width: 645px) {
	.page-header.navbar .search-form {
	    float: none !important;
	    margin-left: 35% !important;
	    margin-right: 0px !important;
	    margin-top: 4% !important;
	}
}

@media (min-width: 646px) and (max-width: 767px) {
	.page-header.navbar .search-form {
	    float: none !important;
	    margin-left: 46% !important;
	    margin-right: 0px !important;
	    margin-top: 3% !important;
	}
}

@media (max-width: 767px) {
	.page-header.navbar .page-actions{
	
		margin-right: 0 !important;
	}
}
/* Media specific css [end] */