
@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProLightCondensed.otf);
	font-weight: 300;
	font-style: condensed;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProLightItalic.otf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProLight.otf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProRegular.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sofia-pro-condensed;
	src: url(fonts/SofiaProRegularCondensed.otf);
	font-weight: 400;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProRegularItalic.otf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: sofia-pro-condensed;
	src: url(fonts/SofiaProMediumCondensed.otf);
	font-weight: 500;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProMedium.otf);
	font-weight: 500;
}


@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProSemiBold.otf);
	font-weight: 600;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProBold.otf);
	font-weight: 700;
}


@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProBlack.otf);
	font-weight: 900;
}


@font-face {
	font-family: perpetua;
	src: url(fonts/PerpetuaTitlingMT-Bold.ttf);
	font-weight: 700;
}


@font-face {
	font-family: raleway;
	src: url(fonts/Raleway-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: raleway;
	src: url(fonts/Raleway-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: fontawesome;
	src:url(fonts/fontawesome-webfont.ttf);
	font-weight: 400;
}

body{
	font-family: 'sofia-pro', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn {
    white-space: initial;
}

:focus{
	outline: 0px;
}

a:hover{
	color: #FEDD32;
    text-decoration: none;
}
.no-padding{
	padding: 0px !important;
}

.no-border{
	border: 0px !important;
}

.condensed{
	font-family: 'sofia-pro-condensed','sofia-pro' !important;
}

.hide{
	display: none;
}


.white{
	color:#fff !important;
	fill:#FFF;
}


.no-margin{
	margin: 0px !important;
}

.full-width{
	width:100% !important;
}

.half-width{
	width: 50% !important;
}

.add-top{
	padding-top: 80px;
}
.add-bottom{
	padding-bottom: 80px;
}

.logo{
	padding-top: 0px;
}

.mobile-only{
	display: none;
}

.mobile-flex-only{
	display: none;
}

.navbar.desktop-only{
	height: 100px;
	background: rgba(255,255,255,0.8);
	position: absolute;
	width: 100%;
	z-index: 1;
}

.modal{
	/*display: flex !important;*/
}

#top-bar.row {
	background: #E5E3E3;
	height: 32px;
}

 #top-bar ul{
	/*margin-top: 5px; *Muruga*/
	margin-bottom: 5px;
	text-align: center;
}


.navbar.mobile-only{
	background: #fff;
	margin-bottom: 0;
}

.navbar ul{
	margin:0px;
}

.row.white-block{
	margin-top: 5px;
}

.float_img{
	margin-top: 0px;
    height: 33px;
}

.float_text{
	margin-bottom: 13px;
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #000;
    font-family: 'sofia-pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fdc{
	flex-direction:row;
}

.pl-10{
	padding: 0 15px 0 10px;
}

.mt-2{
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.white-block{
	position: fixed;
	background:#fff;
	width:55px;
	z-index: 99999;
	top:25vh;
	right:0;
	border:1px solid #CCC;
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	text-align: left !important;
}

.white-block hr{
	margin-top: 0rem;
    margin-bottom: 0rem;
}

 #top-bar ul li{
	list-style: none;
	display: inline;
	margin-right: 50px;
}

.navbar ul li{
	list-style: none;
	display: inline;
	margin-right: 30px;
}

.navbar ul li:last-child{
	margin-right: 0;
}

#top-bar ul li a{
	text-decoration: none;
	color: #848484;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.75px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

 #top-bar ul li a:hover{
	color: #333333;
}

.navbar ul li a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.75px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-menu{
	border-bottom: 1px solid #E5E3E3;
	box-shadow: 0 6px 12px 0 #E5E3E6, 0 0px 8px 0 #E5E3E6;
}

.fa-search{
	font-size: 13px;
}

.fa-shopping-cart{
	font-size: 19px;
}

.fa-inr{
	font-size: 20px;
}

#custom-search-form {
    margin:0;
    margin-left: 36px;
    margin-top: 0px;
    padding: 0;
    width: 85%;
}

#custom-search-form .search-query {
    padding-right: 0px;
    padding-right: 0px \9;
    padding-left: 15px;
    padding-left: 15px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width:86%;
    background-color: #F2F2F2;
    border: 0px solid #fff;
}

.navbar #custom-search-form button {
	padding: 0px 5px 0px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    /*padding: */
    padding: 4px 5px 0px;
    margin-top: 2px;
    position: relative;
    left: -40px;
	top:-4px; /*muruga*/
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

.big-font{
	font-size: 37px;
	font-weight: 400;
	letter-spacing: 0.75px;
	color: #000000;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-bottom: 0px;
}

.center-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.fav-floater{
	float: right;
    position: absolute;
    right: 7px;
    top: 0px;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 22px;
    background: rgba(255,255,255,0.8);
}

/* *************************************** #Navbar   ************************************************/
/* *************************************** #HomePage ************************************************/
.section1{
	/*height: 855px;*/
}


.section1 .big-font{
	margin-top: 210px;
	padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 0px;
}

.divider{
	display: block;
	text-align: center;
	padding: 0px;
}

.divider span{
	display: inline-block;
	height:6px;
	width: 85px;
	background: #FFDD00;
	padding: 0px;
}

.section1 .divider{
	margin-top: 25px;
	margin-bottom:  36px;
}

.header-title{
	font-size: 16px;
	letter-spacing:0.5px;
	font-weight: 700;
	color: #B3B3B3;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sub-title{
	font-size: 17px;
	letter-spacing:0.5px;
	font-weight: 300;
	color: #333333;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card{
	box-shadow:0px 2px 4px 0px #f2f2f2;
    transition: 0.3s;
}

.section1  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #f2f2f2;
    transition: 0.3s;
    margin-top: 43px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 0px solid rgba(0,0,0,.125);
}


.onhover .how:hover,.onhover .howc:hover{
	background-color: #F2F2F2;
	display: block;
}


/* On mouse-over, add a deeper shadow
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.section1  .container.row {
    padding: 0px 16px;
    border-top: 1px solid #F2F2F2;
    /*height: 100px;*/
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    opacity: .75;
    color: #cccccc;

}

.onhover {
  display: none;
}
.surround:hover span.initial{
  display: none;
  cursor: pointer;
}
.surround:hover span.onhover {
  display: block;
  cursor: pointer;
}

.hover_img{
	margin-top: 25px;
    height: 30px;
    margin-left: -5px;
}

.cls-1{fill:#fedd32;}
.cls-2{fill:#ccc;}


.hover_text{
	margin-bottom: 20px;
    margin-top: 10px;
	font-size: 13px;
	letter-spacing:0.5px;
	font-weight: 700;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-next {
    right: -30px;
    z-index: 999;
    font-size: 12px;
}

.fa-inverse{
	color: #CCC;
}

.slick-prev {
	left: -50px;
    z-index: 999;
    font-size: 12px;
}

.slick-prev .fa-stack-1x,.slick-prev .fa-stack-2x{
	left:-1px;
}

.slick-next .fa-stack-1x,.slick-next .fa-stack-2x{
	left: 1px;
}

.slick-prev:before, .slick-next:before{
	display: none;
}



.fa-stack{
	border: 1px solid #CCC;
    border-radius: 50%;
    font-size: 18px;

}

.book-title{
	margin-top: 20px;
	font-size: 17px;
	letter-spacing:0.5px;
	font-weight: 600;
	color: #000000;
	text-overflow: ellipsis;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.book-title b,.book-title strong{
	font-weight:600;
}

.book-description{
	font-size: 12px;
	letter-spacing:0.2px;
	font-weight: 300;
	font-style: italic;
	color: #999999;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	white-space: nowrap;
}

.rate{
	margin-top: 20px;
	font-size: 25px;
	letter-spacing:0.5px;
	font-weight: 400;
	color: #999999;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.yellow_btn{
	display: inline-flex;
	margin-top:35px;
	width:210px;
	height: 41px;
	color: #1A1A1A;
	/*padding-top: 0px;**Muruga**/
	background:#FEDD32;
	font-size: 16px;
	letter-spacing:2.1px;
	font-weight: 700;
	 text-transform : uppercase;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 20px;
	line-height: 30px;
	border:1px solid #fedd32;
}

.yellow_btn.ml-14 {
	padding: 5px 20px;
	width:auto;
}

.section2{
	margin-top: 87px;
	background: #FFFCEA;
}

.section2 .row.center-content{
	height:369px;
}

.promotional_slider{
	height: 100%;
}

.promotion_text{
	font-size: 55px;
	letter-spacing:0.5px;
	font-weight: 700;
	line-height: 54px;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section2 .slick-dots{
	display: block;
    bottom: 150px;
    width: 20px;
    left: 3%;
}

.section2 .slick-dots li.slick-active button:before {
    color: #FEDD32;
    border: 0px;
    font-size: 15px;

}
.section2 .slick-dots li button:before {
	font-size: 11px;
    width: 13px;
    height: 12px;
    line-height: 11px;
    border: 1px solid black;
    border-radius: 20px;
    color: transparent;
}

.section3{
	height: auto;
	padding-top: 90px;
}

.section3 .sub-title{
	padding-top: 35px;
	margin-bottom: 57px;
}

.small_font{
	font-size: 16px;
	letter-spacing:0.5px;
	font-weight: 400;
	color: #CCC;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
    margin-top: 5px;
}

.select_label{
	font-size: 15px;
	letter-spacing:0.5px;
	font-weight: 300;
	color: #1A1A1A;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

.btn:focus{
	outline: 0px;
	box-shadow: none;
}

.img_arrow{
	height: 18px;
    margin-top: -4px;
    margin-left: 5px;
}

.outline_select{
    margin-left: 20px;
   /* padding-top: 4px;**Muruga**/
	border-radius: 20px;
    background: transparent;
    border: 1px solid #FEDD32;
    text-align: center;
  	text-align-last: center;
  	font-family: 'sofia-pro', sans-serif;
  	font-weight: 700;
  	height: 32px;
  	letter-spacing: 1.12px;
  	font-size: 14px;
}

.yellow_sub_btn{
	color: #1A1A1A;
	width:100px;
	display: inline-flex;
	height: 30px;
	padding: 0px;
	padding-right: 13px;
	padding-left: 13px;
	background: #FEDD32;
	font-size: 13px;
    letter-spacing: 2.1px;
    font-weight: 700;
    font-family: 'sofia-pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 20px;
    line-height: 1px;
}

a.yellow_btn:hover{
	color: #FFF;
}

.mr-10{
	margin-right: 10px;
	flex:24%;
}

.ml-10{
	margin-left: 10px;
}

.mt-29{
	margin-top: 29px;
}
.mt-43{
	margin-top: 43px;
}

.mt-8{
	margin-top: 8px;
}

#book_detail .featured_slider .w-24{
	width: 19.2% !important;
	max-width: 24%;
}

.w-24{
	width: 24%;
	max-width: 24%;
}

.img-obj{
	width:100%;
	height: 225px;
	object-fit: contain;
	object-position: center;
	margin-bottom: 2px;
}

.card hr{
	margin-top: 2px;
	margin-bottom: 2px;
}

.section4{
	margin-top: 150px;
}

.center-text{
	font-size: 28px;
	letter-spacing:0.5px;
	font-weight: 500;
	color: #000;
	text-align: center;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.first-block{
	height: 180px;
	background: #F2F2F2;
}

.second-block{
	height: 180px;
	background: #E6E6E6;
}

.third-block{
	height: 180px;
	background: #F2F2F2;
}

.center_anc{
	padding: 0px;
	font-size: 15px;
	letter-spacing:2.1px;
	font-weight: 900;
	color: #1A1A1A;
	text-align: center;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section5{
	margin-top: 40px;
	height: 420px;
}
.book-shelf-bck{
	background: url("../images/book-shelf.jpg") no-repeat;
	height: 420px;
	background-size: contain;
	background-position: right;
}

.shelf_font{
	font-size: 40px;
	letter-spacing:0.5px;
	font-weight: 500;
	color: #000;
	text-align: left;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shelf_font span{
	background: url("../images/highlight.png");
	background-size: cover;
	background-position: center;
	padding: 0px 4px;
    padding-top: 2px;
    font-weight: 700;
}

.para{
	font-size: 17px;
	letter-spacing:0.5px;
	font-weight: 300;
	color: #333333;
	text-align: left;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.para.extra_width{
	width: 855px;
}

.auto-width{
	width: auto;
}

.mt-14{
	margin-top: 14px;
}

.card-pad{
	padding: 25px 5px 25px 5px;
}

.mt-10{
	margin-top: 10px;
}

.section6{
	height: 415px;
}

.w-49{
	width:49%;
	max-width: 49%;
}

.section4 a i{
	font-size: 21px;
}

.section6 .first-block{
	height: 415px;
	padding: 0% 19% 0px 6%;
	margin-right: 1%;
	background: url("../images/book-sets.jpg") no-repeat;
	background-size: cover;
	background-position: center right ;
	background-color: #F2F2F2;
}

.section6 .second-block{
	height: 415px;
	padding: 0% 23.55% 0% 5%;
	margin-left: 0%;
	background: url("../images/story-cards.jpg") no-repeat;
	background-size: cover;
	background-position: center right ;
	background-color: #E5E5E5;
}

.yellow{
	color: #FEDD32 !important;
	fill:#fedd32;
}



.fa-chevron-circle-right{
	background: #000;
    border-radius: 15px;
    height: 11px;
    width: 14px;
    line-height: 12px;
}

.section6 .fa-chevron-circle-right {
    height: 12px;
    width: 17px;
    font-size: 20px;
    padding-right: 1px;
    line-height: 12px;
}

.column_font{
	font-size: 35px;
	letter-spacing:0.5px;
	font-weight: 400;
	color: #333333;
	text-align: left;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.section7{
	height: 415px;
}

.test-bckg{
	background:url("../images/testimonials.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 415px;
}

blockquote{
	font-size: 22px;
	letter-spacing:0.5px;
	font-weight: 300;
	color: #000000;
	text-align: left;
	margin: 0px;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote::before{
	content: "“";
	color: #FEDD32;
    font-family: 'perpetua';
    font-size: 102px;
     position: absolute;
    top: -40px;
    left: -50px;
}

blockquote::after{
	content: '"';
	color: #FEDD32;
    font-family: 'perpetua';
    font-size: 102px;
    position: absolute;
    bottom: -90px;
    right: auto !important;
}

.transparent{
	background-color: transparent !important;
}

/*blockquote span.first{
	/*content: "\201C";
    color: #FEDD32;
    font-family: 'perpetua';
    font-size: 102px;
    position: absolute;
    top: 82px;
    left: -58px;
}*/

/*blockquote span.last{
	/*content: "\201C";
    color: #FEDD32;
    font-family: 'perpetua';
    font-size: 102px;
    position: absolute;
    bottom: 23px;
    padding-left: 11px;
}*/

.author{
	font-size: 18px;
	letter-spacing:2.8px;
	font-weight: 400;
	text-transform : uppercase;
	color: #999999;
	text-align: left;
	font-family: 'sofia-pro', sans-serif;
	margin: 20px 0px;
}

.promotional_banner{
	height: 122px;
	margin-top: 25px;
}

.promotional_banner .left-block{
	background: #F2F2F2;
	height: 122px;
}

.promotional_banner .right-block{
	background: #4D4D4D;
	height: 122px;
}

.promotional_banner .text{
	margin-bottom: 0px;
	font-size: 18px;
	letter-spacing:0.5px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	font-family: 'sofia-pro', sans-serif;
}

.yellow_btn.mt-13{
		margin-top: -13px;
}

#input-field{
	border:1px solid #4D4D4D;
	padding: 0px 10px;
	background:#FFF;
	border-right: 0px;
	font-size: 14.9px;
	height: 35px;
	letter-spacing:0.5px;
	font-weight: 600;
	color: #666666;
	font-family: 'sofia-pro', sans-serif;

}

.plain-btn{
	border:1px solid #4D4D4D;
	background:#FFF;
	border-left: 0px;
	padding: 4.5px 0;
}

.plain-btn i{
	width:30px;
}


footer{
	padding-top: 50px;
	/*height: 350px;*/
	padding-bottom: 35px;
	background:url("../images/footer-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	font-weight: 700;
	font-family: 'sofia-pro', sans-serif;
}

footer.desktop-only .col-lg-3, footer.desktop-only  .col-lg-2{
	width: 20%;
}

.address{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 19.2px;
	font-weight: 400;
	font-family: 'raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.address span a{
	color:#FEDD32;
	font-weight: 600;
}

footer h5{
	color: #FFF;
	font-size: 15.5px;
	margin-bottom: 0;
	padding-top: 37px;
	font-weight: 500;
	letter-spacing: 1px;
}

footer hr{
	border-top: 1px solid #FEDD32;
	margin-left: 27%;
    width: 73%;
}

footer ul{
	padding-left: 0;
}

footer ul li{
	list-style: none;
	margin-bottom: 5px;
}

ul.social li a{
	color: #FEDD32;
}



ul li a:hover{
	color: #FEDD32;
}

footer ul.social{
	margin-top: 25px;
}

footer ul.social li{
	display: inline;
	/*border: 1px solid #8F857D;
	border-radius: 50%;*/
	padding: 5px 8px 5px 0px;
	margin-right: 7px;
}

.absolute{
	position: absolute;
}

footer i.fa {
  display: inline-block;
  border-radius: 60px;
  border: 1px solid #FEDD32;
    /*box-shadow: 0px 0px 2px #FEDD32;*/
  padding: 7px 8px;

}

footer i.fa-facebook {
  padding: 7px 10px;

}

footer .info{
	color: #999999;
	font-size: 13px;
	line-height: 15.6px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	padding-left: 20px;
}


footer ul li a{
	color: #FFF;
	font-size: 15.5px;
	line-height: 15.6px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* *************************************** #CategoryPage  ************************************************/

.category_section{
	margin-top: 250px;
}

.type-block{
	/*height: 152px;*/
	border: 1px solid #F2F2F2;
	margin-bottom: 38px;
}

.category-header-block{
	background: #F2F2F2;
	/*border: 1px solid*/
}

.align-left{
	text-align: left !important;
	justify-content: left !important;
}

.align-right{
	text-align: right !important;
	justify-content: right !important;
}


h2.category-title{
	color: #333333;
	font-size: 14px;
	padding-left: 10px !important;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
	margin-top: .5rem;
}

.checkbox-block{
	padding-left: 10px;
}

.type_check_block,.reading_check_block{
	height: 120px;
}

.language_check_block{
	height: 310px;
}

.category_check_block{
	height: 260px;
}

label{
	padding-left: 5px;
	 text-transform:capitalize;
}

#filter_bar{
	margin-top: -70px;
}

#Category_filter .filter-search{
	margin-top: 0px;
}

.category-text{
	font-size: 11px;
	letter-spacing:0.5px;
	font-weight: 300;
	font-style: italic;
	color: #999999;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.inherit{
	height: inherit;
}

.black-outline{
	border: 0px solid #000;
	color: #000!important;
	background: #F2F2F2;
}

.black{
	color: #000!important;
}

.black-bck{
	background-color: #000;
	height: 40px;
}

.sort_text{
	margin-bottom: 0px;
	color: #CCCCCC;
	font-size: 14px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

.filter_text{
	color: #808080;
	font-size: 14px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
	margin-top: 10px;
}

#Category_filter .search-query{
	background: #fff;
	border: 1px solid #CCCCCC;
	font-size: 10px;
	height: 28px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.filter-search button{
	margin-top: 2px;
	color: #cccccc;
}

.filter-mr-row{
	max-width: 22.5%;
	margin-right: 25px;
}

.w-32{
	width: 32%;
	max-width: 32%;
}

#Category_filter .card{
	margin-bottom: 25px;
}

.mg-btm{
	margin-bottom: 100px;
}

.float{
	position: absolute;
    right: -88px;
    top: 25px;
}

.top_text{
	font-size: 14px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	color: #CCCCCC;
	margin-top: 5px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* ***************************************#detailed_book_section ************************************************/
.view_eye{
	height: 30px;
    padding-right: 7px;
}
.detailed_book_section{
	margin-top: 195px;
}

.breadcrumbs{
	font-size: 13px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 600;
	color: #333333;
	padding: 0px 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mt-59{
	margin-top: 60px;
}

.pict_bck{
	background-color: #F2F2F2;
	height: 500px;
}

.book-img-obj{
    width: 100%;
    height: inherit;
    object-fit: contain;
    object-position: center;
    padding: 0 16px;
}

.look-title{
	font-size: 17px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 700;
	color: #000000;
	padding: 12px 0px;
	padding-left: 20px;
    text-align: center;
    border: 1px solid #F2F2F2;
    height: 50px;
}

.look-title img{
	margin-right: 10px;
}

.mb-95{
	margin-bottom: 95px;
}

.large-book-title{
	font-size: 42px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 600;
	color: #000000;
}

.detail{
	font-size: 16px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #999999;
}

.rate-price{
	width: 20%;
}

.book-synopsis{
	padding-top: 15px;
}


.rate-price .rate{
	font-size: 35px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 400;
	color: #4D4D4D;
	margin-bottom: 10px;
	border-bottom: 4px solid #FEDD32;
}

.para{
	font-size: 16px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	color: #333333;
}

.readinglevel{
	font-size: 16px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 700;
	color: #000;
	text-align: left;

}

.readinglevel img{
	margin-top:-2px;
}

.lang_selection .select_label{
	font-size: 15px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	color: #000;
	margin-top: 10px;
}

.type-block label{
	font-size: 14px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	color: #000;
}

.alternate_title{
	margin-top: 20px;
	font-size: 15px;
	font-weight: 500;
	color: #666666;
	text-decoration: underline;
}

.wish_btn{
	margin-top:35px;
	display: inline-flex;
	width:210px;
	height: 41px;
	color: #4D4D4D;
	/*padding: 11px; * Muruga */
	background:transparent;
	font-size: 16px;
	letter-spacing:2.1px;
	font-weight: 700;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	 text-transform : uppercase;
	border-radius: 20px;
	border: 1px solid #4D4D4D;
}
.mr-15{
	margin-right:15px;
}

.mr-15.mt-8{
	margin-top:-10px;
	height: 24px;
}
.mt-40{
	margin-top: 40px;
}

.btn-pad{
	/*padding: 12px 15px 8px; * Muruga */
	margin-top: 0px;
}

.ml-100{
	margin-left: 15px;
}



ul.social li {
    display: inline;
    padding: 5px 8px 5px 0px;
    margin-right: 7px;
    list-style: none;
    margin-bottom: 5px;
}

ul.social li i.fa {
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #FEDD32;
    padding: 4px 5px;
}

ul.social li i.fa-facebook {
       padding: 4px 8px;
}


ul.review_icons li{
	display: inline-block;
    padding: 5px 0px 5px 0px;
    margin-right: 0px;
    list-style: none;
    margin-bottom: 5px;
    color: transparent;
}


.review_heading{
	font-size: 15px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	color: #000;
	text-align: left;
}

.detailed_book_review textarea{
	height:88px;
	padding: 10px 15px;
    width: 94%;
    margin-left: 00px;
}

.yellow_outline{
	border:1px solid #FEDD32;
	/*margin-left: 15px;*/
	padding: 10px;
	    width: 150px;
}

button:focus {
	outline: 0px;
}

.border-right{
	border-right: 1px solid #cccccc;
}

.rating_heading{
	font-size: 26px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	color: #000;
}

.review_icons{
	padding: 0px;
}

.review{
	font-size: 16px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	color: #333333;
}

.review_slider .slick-prev,.review_slider .slick-next {
    position: absolute;
    top:220px;
    width: 109px;
    display: initial;
}

.review_slider .slick-next {
    right: 215px;
}

.review_slider .slick-prev{
	left: 0px;
}

.outline_btn{
	line-height: 1px;
	display: inline-flex;
	border: 1.5px solid #B3B3B3;
	color: #B3B3B3;
	background-color: transparent;
	width:210px;
	height: 35px;
	font-size: 14px;
	text-transform : uppercase;
	padding-top: 1px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	border-radius:25px;
	text-align: center;
}


.outline_btn.br{

	border-right:0px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.outline_btn.bl{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}



.featured_section{
	margin-top: 83.655px;
	margin-bottom: 80px;
}

.like-title{
	font-size: 32px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	color: #000;
	margin-bottom:42px;
}

#book_detail .featured_section .slick-prev,#book_detail .featured_section .slick-next {
    top: 50%;
}

.featured_section .slick-prev,.featured_section .slick-next{
	top:25%;

}

.grey_bck{
	border: 0px;
	background-color: #F2F2F2;
}

/* *************************************** #CartPage  ************************************************/

.checkout_steps{
	height: 185px;
	background: #F2F2F2;
	margin-top: 100px;
}

.checkout_steps img{
	display: block;
	margin: 0 auto;
}

.checkout_steps .row{
	padding-top: 40px;
	padding-bottom: 40px;
}

.checkout_steps h4{
	text-transform: uppercase;
	margin-top: 15px;
	font-size: 20px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	letter-spacing: 1.2px;
}

.checkout_steps .active h4{
	color: #000;
	font-weight: 500;
}

.checkout_steps .col-lg-4{
	border-right: 1px solid rgb(102,102,102);
}

.checkout_steps .col-lg-4:last-child{
	border:none;
}

.checkout_steps h4{
	color: rgb(128,128,128);
}

.checkout_steps h4 .badge{
	border-radius: 50%;
	padding: 3px 8px;
	font-size: 100%;
	font-weight: 300;
}

.checkout_steps h4 .badge-warning{
	background: #FEDD32;
	font-weight: 500;
}

.checkout_steps h4 .badge.transparent{
	border: 1px solid rgb(128,128,128);
}

.cart-content{
	padding-top: 90px;
	padding-bottom: 65px;
}

.cart-content h1{
	font-size:36px;
	margin-bottom: 30px;
	color:#000;
	font-family: 'sofia-pro', sans-serif;
}

.cart-content h4{
	font-weight: 300;
	font-family: 'sofia-pro', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #999999;
    letter-spacing: 1.4px;
}

.table-row{
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
	box-shadow:0px 2px 11px 2px #f2f2f2;

}

.table-content h3{
	font-weight: 600;
	font-family: 'sofia-pro', sans-serif;
	font-size: 26px;
	margin:0;
	margin-top: 35px;
}

.table-content table, .table-content table tr, .table-content tr td, .table-content th{
	border: none;
	/*vertical-align: middle;*/
}

.table-content .rate{
	font-size: 27px;
	font-family: 'sofia-pro', sans-serif;
	color: rgb(254,221,50);
	margin:0;
}

.table-content .author-info{
	font-style: italic;
	color: rgb(153,153,153);
	font-weight: 300;
	font-size: 15px;
	line-height: 21.2px;
	margin: 0;
}

.table-content img{
	height: auto;
}

.table-content select{
	margin: 0 auto;
	display: block;
	width: 70px;
    padding-top: 0px

}

.table-content p{
	/*margin-bottom: 0;*/
}

.table-content .sub-total{
	border-top:2px solid rgb(204,204,204);
	padding-top: 10px;
	font-weight: 600;
	font-size: 23px;
}

.table-content .align-fix{
	padding-bottom: 0;
}

.table-content a,.table-content a i{
	color: rgb(230,230,230);
}

.table-content table{
	border-collapse: separate;
	border-spacing: 0 1.5em;
}

.total-amount{
	background: #F2F2F2;
	height: 73px;
	border-radius: 25px;
	width: 100%;
}


.total-amount p{
	font-weight: 500;
	font-size: 23px;
	padding-top: 20px;
	padding-right: 100px;
}

.proceed-checkout{
	width: 100%;
}

.proceed-checkout .col-md-6:first-child a{
	text-decoration: underline;
	color: rgb(26,26,26);
	font-weight: 500;
	text-transform: uppercase;
	font-size: 17.47px;
	top: 50px;
	position: relative;
}

.proceed-checkout a span{
	color: #FEDD32;
}

.proceed-checkout .yellow_btn{
	width: auto;
	padding: 5px 20px;
	color: #000;
	text-transform: uppercase;
	font-size: 16.35px;
	font-weight: bold;
}

#donate-checkbox{
	margin-top: -20px;
}

#donate-checkbox .fa-inr{
	font-size: 13px;
}

/* *************************************** #ShippingPage  ************************************************/

.address_section{
	height: 714.346px;
}

.details{
	font-size:36px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 500;
	color: #000;
	text-align: center;
	margin-top: 50px;
    margin-bottom: 50px;
}

.mt-66{
	margin-top: 66px;
}

.guest_text{
	font-size: 28px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 400;
	color: #000;
	margin-bottom: 0px;
}

#guest-form{
	display: none;
}

#switch-form{
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #808080;
	font-size: 14px;
}

#signup-form label, #guest-form label, .sign_up_form label{
	padding-left: 0;
}

#switch-form a{
	text-decoration: underline;
	color: #808080;
	font-size: 14px;
	font-weight: bold;
}

/*.sign_up_form .col-lg-6 input{
	width: 95%;
}*/

.sign_up_form .form-group{
	margin-bottom:12px;
	padding-right: 15px;
}
.sign_up_form input{
	height: 39px;
}

.sign_up_form label{
	color: #808080;
	font-size: 14px;
	font-weight: 500;
	font-family: 'sofia-pro'
}

.login-card{
	/*height: 357px;*/
	padding: 45px 40px 40px 60px;
}

.log_btn{
	width: 102px;
    height: 41px;
     padding: 9px 0px;
    line-height: inherit;
}

.auth_text{
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	font-family: 'sofia-pro';
}

ul.auth{
	padding: 0px;
	margin-left: 10px;
	margin-top: -5px;
}

ul.auth li {
    display: inline;
    padding: 5px 8px 5px 0px;
    margin-right: 7px;
    list-style: none;
    margin-bottom: 5px;
}

ul.auth li a {
    color: #000000;
}

ul.auth li i.fa {
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #FEDD32;
    padding: 4px 5px;
}

ul.auth li i.fa-facebook {
    padding: 4px 8px;
}

.mt-48{
	margin-top: 48px;
}

.shipping_address_section{
	height: 531px;
}

.color-bck{
	background-color: #E8E8E8;
	height: 180px;
	width: 825px;
	margin-bottom: 40px;
}

.shipping_address_section .margin{
	margin-top: 91px;
	margin-bottom: 40px;
	text-align: center;
}

.address_title{
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	font-family: 'sofia-pro';
}

p.address_text{
	color: #4D4D4D;
	font-size: 16px;
	font-weight: 400;
	font-family: 'sofia-pro';
}

.shipping_new_address_section{
	height: 842px;
}

.new_form{
	width: 825px;
}

.new_address_form input{
	width: 98%;
}

.mt-65{
	margin-top: 65px;
}

.billing_section{
	height: 925px;
	/*margin-top: 100px; *Muruga */
}

.card-header{
	background-color: #FFFFFF;
	border-bottom: 0px;
	padding: 0px;
}

.billing_section .card{
	margin-bottom: 28px;
	padding: 1.25rem 80px 1.25rem 95px;
	box-shadow: 0px 2px 11px 2px #f2f2f2;
}

.card-header .btn-link:after {
    /* symbol for "opening" panels */
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  /* essential for enabling glyphicon */
    content: "\f077";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #FEDD32;
             /* adjust as needed */
}
.card-header .btn-link.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    color: #666666;
        margin-top: 3px;
}

.sign_up_form{
	width: 95%;
}

.btn-link {
	text-align:left;
	color: #000;
	font-size: 19px;
	font-weight: 700;
	font-family: 'sofia-pro';
	padding: 0px;
}

.btn-link.collapsed{
	font-weight: 500;
}

.btn-link.focus, .btn-link:focus,.btn-link:hover {
     text-decoration: none;
     border-color: transparent;
    box-shadow: none;
    color: #FEDD32;
}

.card-body {
     padding: 0rem;
}

.mt-22{
	margin-top: 22px;
}
.pay_btn{
	width:100px;
	height: 40px;
	padding: 10 0px;
	margin-top: 5px;
}

.order_bck{
	background-color: #F2F2F2;
}

.order_title{
	text-align:center;
	color: #666666;
	font-size: 18px;
	font-weight: 500;
	font-family: 'sofia-pro';
	margin-top: 32px;
	margin-bottom: 0;
}

.books{
	/*height: 90px;*/
}

.book-obj{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.order_book_title{
	color: #000;
	font-size: 15px;
	font-weight: 600;
	font-family: 'sofia-pro';
}

.order_lang{
	text-align:left;
	color: #999999;
	font-size: 14px;
	font-weight: 300;
	font-family: 'sofia-pro';
}

.total_text span,.order_lang span{
	float: right;
}

.order_lang span:before{
	content: url(../images/rupee.png);
}

.smbold{
	font-weight: 600;
	color: #000;
}

.total_text span:before,.order_lang.smbold span:before{
	content: url(../images/bold_rupee.png);
}

.coupon_text{
	color: #4D4D4D;
	text-align:left;
	font-size: 12px;
	font-weight: 500;
	font-family: 'sofia-pro';

}

.coupon_input{
	border: 1px solid #FFFFFF;
    padding: 0px 10px;
    background: #FFF;
    border-right: 0px;
    font-size: 14.9px;
    height: 35px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #666666;
    font-family: 'sofia-pro', sans-serif;
    /*margin-bottom: 20px;*/
}

.mb-20{
	margin-bottom: 20px;
}

.total_text{
	color: #000000;
	/*text-align:left;*/
	font-size: 17px;
	font-weight: 700;
	font-family: 'sofia-pro';
}

h6.total_text{
	font-weight: 500;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
}

.total{
	margin-bottom: 32px;

}

div.checkout_steps > div > div > div:nth-child(1) > h4 > span{
	padding: 3px 10px;
}

/***************************************************** Responsive Menu *****************************************************************/
.menu-icons a{
	color:#CCCCCC;
	font-size: 20px;
	margin:  0px .7rem;
}

.menu-icons .fa{
	padding-top: 2rem;
}

.navbar-toggler {
    padding: 2rem .75rem;
}

.transparent_btn {
	display: inline-flex;
    margin-top: 35px;
    width: 160px;
    height: 40px;
    color: #FFF;
    padding: 11px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 700;
     text-transform : uppercase;
    font-family: 'sofia-pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 20px;
    border: 1px solid #fff;
    line-height: 1px;
}

.mobile-flex-only .total-amount{
	border-radius: 0px;
	margin-top: 50px;

}

.mobile-flex-only .total-amount p{
	padding-right: 0px;
	text-align: center;
}

.proceed-checkout .more-text a {
    text-decoration: underline;
    color: rgb(26,26,26);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17.47px;
    top: 50px;
    position: relative;
    margin-bottom: 75px;
}

#book_detail  .rate{
	font-family: 'sofia-pro-condensed','sofia-pro'
}

#book_detail .rate-price .fa-inr {
    font-size: 30px;
}

.amount {
	font-size: 19px;
}
.amount .fa-inr {
    font-size: 16px;
}

/***************************************************** Confirmation page *****************************************************************/

.confirmation-section-1{
	background: url(../images/thankyou-bg.jpg) center center;
	background-size: cover;
	height: 530px;
	margin-top: 100px;
	text-align: center;
}

.center{
	display: block;
	margin: 0 auto;
}

.confirmation-section-1 .btn-transparent{
	width: 335px;
	margin-left: 15px;
	border: 1px solid #1A1A1A;
	background: transparent;
	border-radius: 20px;
	color: #1A1A1A;
	padding: .45rem .75rem;
}

.confirmation-section-1 .btn-yellow {
	width: 248px;
	color: #1a1a1a;
	background: #FEDD32;
	border-radius: 20px;
	padding: .45rem .75rem;
	border: 1px solid #FEDD32;
}

.confirmation-section-1 img{
	margin-bottom: 20px;
}

.confirmation-section-1 h1{
	font-size: 38px;
	margin-bottom: 15px;
	margin-top: 45px;
}

.confirmation-section-1 small{
	font-weight: 300;
	font-size: 16px;
	display: block;
	margin-bottom: 35px;
}

/***************************************************** check availability page *****************************************************************/

.check-availability{
	margin-top: 150px;
	padding-bottom: 50px;
}

.check-availability h1{
	text-align: center;
	margin-bottom: 50px;
}

.check-availability h4{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.check-availability span{
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 10px;
	color: #FEDD32;
}

.check-availability a{
	margin-top: 7px;
	color: #1a1a1a;
}

.check-availability label{
	text-transform: uppercase;
	color: #1a1a1a;
	font-weight: 500;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #000;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
	text-align:center; font-weight:700;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px; font-weight:700;
    color: #333;
    background: #ededed;
    border-radius: 25px;
    margin: 0 auto 10px auto;z-index: 2;position: relative;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #ededed;
    position: absolute;
    left: -50%;
    top: 9px;z-index: 1;
   
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #28a745;
    color: white;
}
#progressbar li.active{color:#28a745;}