.navbar-default { background-color: #256ab0!important; border-color: #205081!important;}
.navbar-default .navbar-toggle { border-color: #1c5186!important;}
.navbar-default .navbar-toggle .icon-bar {  background-color: #fff!important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{    background-color: #1a4067 !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #1a4067 !important;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background-color: #1a4067 !important;}
.navbar-dark .navbar-nav>.active>a, .navbar-dark .navbar-nav>.active>a:focus, .navbar-dark .navbar-nav>.active>a:hover {background-color: #1a4067 !important;}
.navbar-nav > li a:hover{background-color: #1a4067 !important;color: #fff;	}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background-color: #1a4067 !important;color: #fff !important;}
.navbox-trigger:hover { background-color: #1a4067 !important;}
.navigation-bar .bar {background-color: #1a4067;	width: 100%; height: 100%; position: absolute; z-index: 2;}
.navigation-bar.navbox-open .navbox-trigger  {background-color: #1a4067!important;}
.navbar-dark { background-color: #205081  !important; border-color: #2e3d54 !important; color: #fff !important;}
/*.navbar-dark:hover {background-color:#6badf6 !important; border-color:#59a1f1 !important; color:#fff !important;}*/
.text-danger {color: #a94442 !important;}
.footer{background-color: #e4e4e4;}
.jumbotron{background-color: #fff !important;}
hr {border-top: 1px solid #ced1d4 !important;}
.bg-primary {background-color: #337ab7 !important;    border-color: #2e6da4 !important;}
.bg-p {background:#337ab7!important; color: #fff!important;}
.bg-s {background:#28a745!important; color: #fff!important;}
.bg-i {background:#17a2b8!important; color: #fff!important;}
.bg-w {background:#ffc107!important; color: #fff!important;}
.bg-d {background:#dc3545!important; color: #fff!important;}
.bg-a {background-color: #00c0ef !important; color: #fff!important;}
.bg-g {background-color: #348183 !important; color: #fff!important;}
.bg-y {background-color: #f39c12 !important; color: #fff!important;}

*::-webkit-input-placeholder {color: #c7c9cb!important; font-weight:normal!important;}
*:-moz-placeholder {color: #c7c9cb!important;  font-weight:normal!important;}
*::-moz-placeholder {color: #c7c9cb!important;  font-weight:normal!important;}
*:-ms-input-placeholder {color: #c7c9cb!important;  font-weight:normal!important;}


.navbar-dark .navbar-nav .nav-link {color: rgba(255,255,255,1) !important;}
.btn-primary {color: #fff;  background-color: #337ab7 !important; border-color: #2e6da4 !important;}
.btn-primary:hover { background-color: #6badf6 !important; border-color: #59a1f1 !important; color: #fff !important;}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
a {
    color: #337ab7 ;
    text-decoration: none;
}
.with-errors{color:#a94442;}
.dropdown-item-inner {color: #212529 !important; }
.dropdown-item.active, .dropdown-item:active {background-color: #f1f1f1 !important; }
.selected{background-color: #f1f1f1 !important; }
.dropdown-item:focus, .dropdown-item:hover {background-color: #f1f1f1 !important; }
.bootstrap-select.form-control {background-color: #fff !important;}
.btn-light {background-color: transparent !important;}
.btn-light1 {background-color: transparent !important;}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .col-form-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {    color: #a94442 !important;}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #fff !important;}

}