/* Create three equal columns that floats next to each other */
.col-sm-2 {
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */

.btn:hover {
  background-color: #f1f1f1;
}

.btn.active {
  background-color: #666;
  color: white;
}
.btn-primary.active  {background-color: #6badf6 !important;
border-color: #59a1f1 !important;
color: #fff !important;}