@import url('font.css');
* {    font-family: 'Roboto', sans-serif; }
/* do not group these rules */
body {padding-top: 45px;}
.navbar {padding:0rem;}
.navbar-brand{padding: 5px 15px !important; color: #fff !important; font-weight: 700;
font-family: "Open Sans",sans-serif,Arial,Helvetica; font-size:20px !important; height: 45px!important;}
.navbar-brand-tit{padding: 7px 15px !important; }
.navbar {min-height: 45px!important;}
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar-default .navbar-nav > li > a {color: #fff !important; }
.nav>li>a {padding: 10px 10px ; font-size:12px;}
.navigation-bar {margin-right: 45px;float: left;}
.navbox-trigger span {color: #fff !important; font-size: 22px; line-height: 42px;}
.navbar-nav {font-size:14px;}
.dropdown-header{  background: #eee;  font-weight: 600;}
.padding-a {padding: 0px !important;}
.padding-l {padding-right: 15px; padding-left: 0px !important;}
.padding-r {padding-right: 0px; padding-left: 15px !important;}
.iconfont{font-size:20px;}
.jumbotron {padding-top:5px !important; padding-bottom:10px !important; margin-top: 0px !important; 
/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;*/
 background-image: url("../images/head-bg.jpg"); background-repeat: repeat-x; padding-left:0rem; padding-right:0rem} 
.foot{text-align:center;}
.breadcrumb {border-radius: 0px !important;padding:5px 8px; margin-bottom: 10px;}
.bootstrap-datetimepicker-widget{z-index:9999 !important;}
.input-group form-control:focus{z-index:9999 !important;}
.table-responsive {overflow-x: inherit!important;}
table {font-size: 12px !important;}
.pagination > li > a, .pagination > li > span {padding: 3px 8px !important;
font-size: 12px;}
.jumbotron p {font-size: 12px !important;}
.page-header {margin: 3px 0 10px; padding-bottom:0px;min-height: 37px; border-bottom: 1px solid #ced1d4;}
.border-b { border-bottom: 0px solid #ced1d4;}
.display-4 {    font-size: .9rem !important; font-weight: 500; line-height: 1.2;}
.jumbotron .h1, .jumbotron h1 {font-size: 20px !important;margin-top: 0px !important;}
.jumbotron .h2, .jumbotron h2 {/*font-size: 18px !important;*/margin-top: 10px !important;}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0 !important; font-size:12px;
    white-space: nowrap;
}
.rules-group-container {border: 1px solid #eee !important; background: rgba(250,250,250,.5) !important;}
.longtext {
    text-overflow: ellipsis;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
}
.longtext-nowrap {
    width: 490px;
    overflow: hidden;
}
.longtext-180 {
    text-overflow: ellipsis;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
}
/*.modal{top:20% !important;}*/
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {filter: alpha(opacity=0); font-size: 100%; height: 100%; }
}
h1 {font-size: 20px !important;}
h2 {font-size: 18px !important;}
.mt {margin-top:10px !important;}
.m5{margin-top:5px !important;}
.mr { margin-right:0px !important;}
.ml { margin-left:5px !important;}
.mt-6, .my-6 {
    margin-top: 6.67rem!important;
}
.offset-sm-2 {margin-left: 16.866667% !important;}
ol a {margin: 0 2px}
.container .text-muted, .container-fluid .text-muted {margin: 10px 0;   font-size: 13px;}
.panel-default>.panel-heading {color: #333; background-color: #fff; border-color: #e4e5e7; padding: 0;-webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;}
.panel-title {font-size: 14px;}
.panel-default>.panel-heading a { display: block; padding: 10px 10px;  text-decoration: none;}
.panel-default>.panel-heading a:after { content: ""; position: relative; top: 1px; display: inline-block;  font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  float: right;  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;}
.panel-default>.panel-heading a[aria-expanded="true"] {  background-color: #eee;}
.panel-default>.panel-heading a[aria-expanded="true"]:after {  content: "\e113";}
.panel-default>.panel-heading a[aria-expanded="false"]:after {  content: "\e114";}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px !important;    vertical-align: middle;}
.table-responsive { min-height: .01%; overflow-x: auto; margin-top: 10px;}
.font-weight-bold {font-weight:700;}
.list-group-item {padding: 5px 15px !important;}	 
.bootstrap-select .dropdown-toggle {border: 1px solid #ced4da; font-size:12px!important;color: #c7c9cb !important; }
.bootstrap-select.btn-primary, .bootstrap-select .btn-primary:hover{background:transparent!important; }
.bootstrap-select  .btn-primary.active, .bootstrap-select .btn-primary:active, .open>.dropdown-toggle.btn-primary{background:transparent!important;}
.bootstrap-select>.dropdown-toggle::after{margin-left:-5px;}
.fa-filter:before{  position: absolute;right: 7px; top:6px; color: #c7c9cb;}
.bootstrap-select .dropdown-toggle:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn.active, .btn:active {-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125)!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125)!important;}
.btn-group.open .dropdown-toggle{-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;}	
.bootstrap-select.btn-group .dropdown-toggle .caret {right: 5px!important;}
.nav-tabs {background:#f1f1f1;}
.nav-tabs > li > a {padding: 5px 5px;font-weight: 500;color: #272727;}
.nav-tabs .nav-link {border-top-left-radius: .50rem!important;
border-top-right-radius: .50rem!important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{box-shadow: 0px -2px 9px 1px #dedede;}
hr {margin-top: 10px;margin-bottom: 15px;}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.dropdown-item {font-size:14px;}
/* Main Nav styles
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  /* color: inherit; */
   /* box-sizing: inherit; */ 
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  -webkit-font-smoothing: antialiased;
}

*:focus { outline: none; }
html { box-sizing: border-box; }
a { text-decoration: none; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.navigation-bar, .navigation-bar .navbox-tiles, .navbox-trigger, .navbox-tiles .tile, .navbox-tiles .tile .icon .fa, .navbox-tiles .tile .title {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.navbox-tiles:after {
  content: '';
  display: table;
  clear: both;
}
.navigation-bar {
  height: 45px;
  position: relative;
  z-index: 1000;
}
.navigation-bar .bar {
  background-color: #00AFF0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.navigation-bar .navbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.navigation-bar .navbox-tiles {
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
}
.navigation-bar.navbox-open .navbox-trigger { background-color: #00AFF0; }
.navigation-bar.navbox-open .navbox {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
}
.navigation-bar.navbox-open .navbox-tiles {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.navbox-trigger {
  background-color: transparent;
  width: 50px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbox-trigger .fa {
  font-size: 20px;
  color: #fff;
}
.navbox-trigger:hover { background-color: #00AFF0; }
.navbox {
  background-color: #FFF;
  width: 100%;
  min-width: 870px;
  min-height: 265px;
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  border-radius: 2px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22) !important;
}
.navbox-tiles {
  width: 100%;
  padding: 15px;
}
.navbox-tiles .tile {
  display: block;
  background-color: #fafafa;
  width: 100px;
  height: 100px;
  /* padding-bottom: 12%; */
  float: left;
  color: #646464;
  position: relative;  margin:10px;
}
.navbox-tiles .tile .icon {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.navbox-tiles .tile .icon .fa {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
}
.navbox-tiles .tile .title {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbox-tiles .tile:hover {
  border-color: #fff;
  text-decoration: none;
}
.navbox-tiles .tile img {width:100%;}
.navbox-tiles .tiletxt {position: absolute; font-size: 12px; top: 75px; text-align: center; padding:5px 2px; left: 0px;color: #fff; right: 0;}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px; margin-left:3px;
}
.brandLogo{
	float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 1px;
}
button:focus {outline: 1px none !important;}
/* Sticky footer styles
-------------------------------------------------- */
html {  position: relative; min-height: 100%;}
body {  /* Margin bottom by footer height */  margin-bottom: 40px;}
.footer { position: absolute; bottom: 0; width: 100%;  /* Set the fixed height of the footer here */
  /* height: 40px;*/ background-color: #f5f5f5;}
  
/* Home Section
-------------------------------------------------- */
.prodetails { height: 102px; background: #ffffff; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); margin: 8px 0px;}
.prodetails:hover{background: #f0f0f0;}
.prodetails a:hover {text-decoration: none;}
.pro-img {height: 100px; padding: 12px; box-sizing: border-box; float: left; text-align: center}
.pro-img img {width:80px;}
.pro-heading { text-align: left;  height: 35px; padding: 2px; color: #333333; font-weight: normal; line-height: 40px; font-size: 18px; }
.pro-heading a {color: #333333; text-decoration: none; font-weight: normal; line-height: 40px; font-size: 18px;}
.pro-heading a:hover {text-decoration: none; font-size: 18px}
.products { height: 35px; line-height: 18px; font-weight: normal; font-size: 12px;  color: #959595; text-overflow: ellipsis; padding: 2px 5px;}
.products a {text-decoration: none; font-weight: normal; font-size: 12px; color: #000000}
.products a:hover {text-decoration: none; font-size: 12px; color: #cc0000}

/* Forms Section
   -------------------------------------------------- */
.form-group  {    margin-bottom: .4rem;}
.form-group row row {  margin-bottom: 3px !important;    margin-top: 3px;}
.form-horizontal .control-label {padding-top: 4px;}
.form-control {font-size: 12px !important; color:#212529;  font-weight:500; padding: .275rem .75rem;}
.filter-option {font-size: 12px !important; color:#212529; font-weight:500;}
.nonselect{color: #c7c9cb!important;  font-weight:normal;}
.custom-select{background:transparent !important;     vertical-align: middle !important; height: auto !important;     line-height: initial !important; }

.btn.disabled, .btn:disabled {
    opacity: 1 !important;
}
/*.form-control {border: 0px solid #ccc !important; border-bottom: 1px solid #ccc !important; background-color: transparent !important; border-radius: 0px !important; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important; box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important; -webkit-transition: border-color ease-in-out .0s,-webkit-box-shadow ease-in-out .0s!important; -o-transition: border-color ease-in-out .0s,box-shadow ease-in-out .0s!important; transition: border-color ease-in-out .0s,box-shadow ease-in-out .0s!important; color: #555555;font-weight:500;font-size: 12px!important; padding: 4px 10px;}
.input-group-addon {background-color: #ced4da !important; padding: 1px 4px 1px 2px!important; font-size: 16px!important; font-weight: 700 !important; border-radius: 0rem .25rem .25rem 0rem !important; border: 1px solid #ced4da !important;  color: #205081; /*border-bottom: 1px solid #ced4da !important;}*/
.input-group-addon {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center;
    -ms-flex-align: center; align-items: center; padding: 1px 4px 1px 2px;  margin-bottom: 0; font-size: 1rem; font-weight: 700; line-height: 1.5; color: #205081; text-align: center; white-space: nowrap;
    background-color: #ced4da; border: 1px solid #ced4da; border-radius:0rem .25rem .25rem 0rem; cursor: pointer;}
.fw {font-weight:500 !important; color: #555555; text-align: left !important; padding-left: 10px;}
label{font-weight: 400 !important;font-size: 12px; ;margin-bottom: inherit; }
.help-block {margin:0px !important;}
.input-sm {min-height: 28px !important;font-size: 12px!important;}
.has-error .form-control {border-color: #a94442 !important;}
.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {border:1px solid #ced4da !important;}
.list-unstyled {font-size: 12px; margin-bottom: 0rem;}
select {padding:4px 12px!important; height:28px !important;}

.fileinput-button { position: relative; overflow: hidden; display: inline-block;}
.fileinput-button input {  position: absolute;  top: 0;  right: 0;  margin: 0;  opacity: 0;  -ms-filter: 'alpha(opacity=0)';  font-size: 200px !important;  direction: ltr;  cursor: pointer;}
.form-horizontal .control-label {text-align:left;}
.progress {margin-bottom:0px;}
.table-responsive .container-fluid{padding-right:0px !important; padding-left: 0px !important;}
.col-form-label {padding-top:5px; font-size:12px;}
.float-right .glyphicon, td .glyphicon{padding:4px !important}
.float-right .fa{font-size:12px;}
.btn-group-sm>.btn, .btn-sm {line-height: 1.3 !important;}
/* Customer Portal Dashboard Section
   -------------------------------------------------- */
.small-box {border-radius: 2px; position: relative; display: block; margin-bottom: 20px; box-shadow: 0 1px 1px rgba(0,0,0,0.1); }
.small-box>.inner {padding: 10px;}
.small-box h3, .small-box p { z-index: 5;}
.small-box h3 { font-size: 38px; font-weight: bold; margin: 0 0 10px 0; white-space: nowrap; padding: 0; }
.small-box .icon { -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear;
position: absolute; top: -10px; right: 10px; z-index: 0;  font-size: 90px; color: rgba(32, 80, 129,0.80);}
.small-box>.small-box-footer { position: relative; text-align: center; padding: 3px 0; color: #fff; color: rgba(255,255,255,0.8); display: block; z-index: 10;  background: rgba(0,0,0,0.1); text-decoration: none;}
.rules-group-header .active{
    background: #1a4067 !important;
}
/* Auto Complete Search
   -------------------------------------------------- */
.search-bg {background:#f1f1f1; top: -8px;}
.search-bg .input-group-addon {    border: 0px solid #ccc !important;}
.search-bg .form-control {    border: 1px solid #ced4da !important;}  
.autocomplete { position: relative;}
.autocomplete-items {position: absolute; border: 0px solid #d4d4d4; border-bottom: none; border-top: none; z-index: 99; top: 100%; left: 0; right: 0;}
.autocomplete-items div { padding: 5px 10px; cursor: pointer; background-color: #fff; border-bottom: 1px solid #d4d4d4; }
.autocomplete-items div:hover { background-color: #e9e9e9; }
.autocomplete-active { background-color: DodgerBlue !important; color: #ffffff; }
.autocomplete .input-group-addon {    font-size: 11px!important;}

/* Tabs Scroll
   -------------------------------------------------- */
.wrapper { position:relative; margin:0 auto; overflow:hidden; padding:5px; height:32px;}
.list { position:absolute; left:0px; top:0px; min-width:2000px; margin-left:0px; margin-top:0px;}
.list li{	display:table-cell; position:relative; text-align:center; cursor:grab; cursor:-webkit-grab; color:#efefef;
vertical-align:middle;}
.scroller { text-align:center; cursor:pointer; display:none; padding:2px; padding-top:4px; white-space:no-wrap;  vertical-align:middle; background-color:#f1f1f1;}
.scroller-right{ float:right;}
.scroller-left {  float:left;}
.table th {
    border-top: 0px solid #dee2e6!important ;
}

/* loader
   -------------------------------------------------- */
/* LOADER 4 */

#loader span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
  opacity: 0;
}

#loader span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

#loader span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}


/**** Normall css End***/

/* Tabs Scroll
   -------------------------------------------------- */
 .panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}.panel-body{padding:15px}.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px}.panel-heading>.dropdown .dropdown-toggle{color:inherit}.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{color:inherit}.panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.list-group,.panel>.panel-collapse>.list-group{margin-bottom:0}.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item{border-width:1px 0;border-radius:0}.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{border-top:0;border-top-left-radius:3px;border-top-right-radius:3px}.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child{border-top-left-radius:0;border-top-right-radius:0}.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}.list-group+.panel-footer{border-top-width:0}.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table{margin-bottom:0}.panel>.panel-collapse>.table caption,.panel>.table caption,.panel>.table-responsive>.table caption{padding-right:15px;padding-left:15px}.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table:first-child>thead:first-child>tr:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child{border-top-left-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child{border-top-right-radius:3px}.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:3px}.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body{border-top:1px solid #ddd}.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th{border-top:0}.panel>.table-bordered,.panel>.table-responsive>.table-bordered{border:0}.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th{border-bottom:0}.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}.panel>.table-responsive{margin-bottom:0;border:0}.panel-group{margin-bottom:20px}.panel-group .panel{margin-bottom:0;border-radius:4px}.panel-group .panel+.panel{margin-top:5px}.panel-group .panel-heading{border-bottom:0}.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body{border-top:1px solid #ddd}.panel-group .panel-footer{border-top:0}.panel-group .panel-footer+.panel-collapse .panel-body{border-bottom:1px solid #ddd}.panel-default{border-color:#ddd}.panel-default>.panel-heading{color:#333;background-color:#f5f5f5;border-color:#ddd}.panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ddd}.panel-default>.panel-heading .badge{color:#f5f5f5;background-color:#333}.panel-default>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ddd}.panel-primary{border-color:#337ab7}.panel-primary>.panel-heading{color:#fff;background-color:#337ab7;border-color:#337ab7}.panel-primary>.panel-heading+.panel-collapse>.panel-body{border-top-color:#337ab7}.panel-primary>.panel-heading .badge{color:#337ab7;background-color:#fff}.panel-primary>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#337ab7}.panel-success{border-color:#d6e9c6}.panel-success>.panel-heading{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.panel-success>.panel-heading+.panel-collapse>.panel-body{border-top-color:#d6e9c6}.panel-success>.panel-heading .badge{color:#dff0d8;background-color:#3c763d}.panel-success>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}.panel-info{border-color:#bce8f1}.panel-info>.panel-heading{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.panel-info>.panel-heading+.panel-collapse>.panel-body{border-top-color:#bce8f1}.panel-info>.panel-heading .badge{color:#d9edf7;background-color:#31708f}.panel-info>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#bce8f1}.panel-warning{border-color:#faebcc}.panel-warning>.panel-heading{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.panel-warning>.panel-heading+.panel-collapse>.panel-body{border-top-color:#faebcc}.panel-warning>.panel-heading .badge{color:#fcf8e3;background-color:#8a6d3b}.panel-warning>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#faebcc}.panel-danger{border-color:#ebccd1}.panel-danger>.panel-heading{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}.panel-danger>.panel-heading .badge{color:#f2dede;background-color:#a94442}.panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}
 @media only screen and (min-width: 768px){ 
 .panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group row:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{clear:both} }  
   
/*@media only screen and (min-width: 778px){
.modal-dialog {max-width: 900px;}

}*/
@media only screen and (max-width: 990px){
	.navbar-nav {  padding: 10px;} 
	.navbar-nav .nav-link {padding-right: 5px; padding-left: 10px;
}
.navbar-toggler {border: 0px solid transparent;}	
.navbar-dark .navbar-toggler {color:#fff !important;}
.nav-item .dropdown-menu {background:#205081 !important; color:#fff !important;  border:0px solid #fff !important; }
.nav-item .dropdown-menu a{color:#fff !important;}
}
@media only screen and (max-width: 768px){
.wrapper {height: auto; position: inherit; overflow:visible;}
.scroller-right {display:none !important;}
.list{ position: inherit; min-width:auto;}
.list li {display:block;}
.nav-tabs {overflow-x: auto; overflow-y: hidden; display: -moz-box;  display: -webkit-box;}
.nav-tabs>li { float: none;}
.longtext { text-overflow: ellipsis; width: 180px; white-space: nowrap; overflow: hidden;}
.longtext-nowrap {width: 180px; overflow: hidden;}
.offset-sm-2 {    margin-left: 17.1% !important;}
}

@media only screen and (max-width: 767px){
.table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd;	}
}

@media (max-width: 736px) {
.padding-l {padding-right: 0px !important; padding-left: 0px !important;}
.padding-r {padding-right: 0px !important; padding-left: 0px !important;}
.nav {padding-left: 0px;}
.navbox-trigger {width: 45px;}
.navigation-bar {position: absolute !important;top: 0; left:0;}
.navbar-brand-tit {margin-left:35px;margin-right: 0px;}
.navbox {min-width: 370px;}
.navbox-tiles .tile {width: 70px;height: 70px; margin:5px;}
.navbox-tiles .tile img {width:100%;}
.navbox-tiles .tiletxt {font-size: 10px; top: 50px; text-align: center; padding:3px 2px; }
.navbar-toggle {padding: 7px 10px !important;}
.input-sm {padding: 5px 0px;}
.form-control {padding: 5px 5px;}
.bootstrap-select.btn-group > .dropdown-toggle {padding: 5px 12px 5px 5px !important;}
.offset-sm-2 {padding-left: 0px!important; margin-left: 0 !important;}
/*.page-header h1, .page-header h2{font-size: 100% !important;} .panel-title {font-size: 100% !important;}*/
.search-bg {background:transparent; padding:0px 10px; top: 10px; margin-bottom:20px;}
.page-header {border-bottom: 1px solid #ced1d4;}
.page-header::after { display: block; clear: both; content: "";}
.border-b { border-bottom: 0px solid #ced1d4;}
/*.float-right {float:none !important;}
.float-left {float:none !important;}*/
.jumbotron .h1, .jumbotron h1 {line-height: 25px; font-size: 100% !important;}
.jumbotron {padding-bottom:70px !important;}
h2 {font-size: 100% !important;}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {margin: 5px 0px 0px 0px;}

}
@media screen and (max-width: 370px) {
.navbox-tiles .tile .icon .fa { font-size: 25px; }
.navbox-tiles .tile .title {  padding: 3px;  font-size: 11px;}
}
.noselect {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
/*form styles*/
#msform {
    text-align: left;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    box-sizing: border-box;
    width: 100%;
    margin:auto;
    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #000;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
	text-align:center; font-weight:700;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px; font-weight:700;
    color: #333;
    background: #ededed;
    border-radius: 25px;
    margin: 0 auto 10px auto;z-index: 2;position: relative;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #ededed;
    position: absolute;
    left: -50%;
    top: 9px;z-index: 1;
   
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #28a745;
    color: white;
}
#progressbar li.active{color:#28a745;}