@media screen and (max-width: 823px)  {
	.desktop-only{
		display: none;
	}

	.mobile-flex-only{
		display: flex;
	}


	.mobile-only{
		display: block;
	}

	.logo{
		width: 100%;
	}

	.menu-icons a{
		margin: 0px .6rem;
	}

	.navbar-light .navbar-toggler {
	    border: 0px solid;
	}

	.mobile-navbar{
		z-index: 1031;
	}

	.section1 .big-font {
	    margin-top: 0;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.section1 .card {
		margin: 0%;
		/*margin-top:43px;*/
	}

	.review_slider .slick-prev, .review_slider .slick-next{
		width: 122px;
	}

	.mobile-search-bar{
		    padding: .5rem 1rem;
		display: none;
		    background: #fff;
    	height: 80px;
	}

	.outline_select{
		margin-left: 0;
	}

	.filter-sort-tabs{
		top: 90px;
	}

	.filter-tab{
		color: #fff;
		background: #000;
		padding: 20px;
	}

	.filter-tab.active{
		background: #fedd32;

	}

	.filter-screen .nav-pills .nav-link.active .fa,.filter-screen .nav-pills .show>.nav-link .fa{
		color: #fedd32;
	}

	.filter-tab.active h2{
		color: #212529;
	}

	.filter-screen{
		position: fixed;
		height: 100%;
		background: #fff;
		width: 100%;
		z-index: 1;
		margin-top: 145px;
		display: none;
	}

	.filter-screen .col-5, .filter-screen .col-7{
		padding-bottom: 81.5%;
    	margin-bottom: -81.5%;
	}

	.filter-screen .col-5{
		border-right: 1px solid #ccc;
		padding-right: 0;
	}

	.filter-screen input[type="checkbox"]{
		width: 20px;
		height: 20px;
	}

	.filter-screen .col-7{
		padding-top: 40px;
	}

	.filter-screen .col-7 label{
		font-size: 20px;
		margin-top: -5px;
		position: relative;
		top:-5px;
	}

	.filter-btns{
		display: none;
	}

	.filter-btns .btn-tab{
		padding: 20px;
		border: 1px solid #ccc;
		background: #fff;
	}

	.filter-btns input{
		margin: 0 auto;
		display: block;
	}

	.filter-btns .btn-tab:last-child{
		border-left: none;
	}

	.filter-screen .nav-pills .nav-link{
		padding: 20px 10px;
		border-bottom: 1px solid #ccc;
		color: #212529;
	}

	.filter-btns .sort_text{
		color: #212529;
	}

	.filter-screen .nav-pills .nav-link .fa{
		color: #ccc;
	}

	.filter-screen .nav-pills .nav-link.active,.filter-screen .nav-pills .show>.nav-link{
		background: #f3f3f3;


	}

	.mobile-search-bar input,.mobile-search-bar .input-group-text{
		border: none;
	}

	.mobile-search-bar .input-group-text{
		background: none;
	}

	.mobile-search-bar .fa-chevron-left{
		margin-top: 12px;
	}

	.mobile-search-bar .fa{
		color: #999999;
	}

	.form-control:focus{
		border: none;
		box-shadow: none;
	}

	.rate{
		margin: .5rem 0;
	}

	.section2 .slick-dots {
	    display: block;
	    bottom: initial;
	    width: 100%;
	    left: initial;
	    background: #FFFCEA;
	}

	.promotion_text {
    	font-size: 35px;
    	text-align: center;
    }

    .big-font {
    	font-size: 34px;
	}

	.section3 {
     height: auto;
	}

	.mr-10{
		flex: auto;
		margin-bottom: 10px;
		margin-right: 0px;
	}

	.extra_width{
		width: auto !important;
		text-align: center;
	}

	.w-49{
		max-width: 100%;
		width:100%;
	}

	.section6 .first-block {
		margin-right: 0px;
	}

	.section5 {
	    margin-top: 40px;
	    height: auto;
	}

	.book-shelf-bck {
	    background: url(../images/book-shelf.jpg) no-repeat;
	    height: 245px;
	    background-size: cover;
	    background-position: center;
	}

	.shelf_font {
		text-align: center;
	}

	.section5 .yellow_btn{
		border-radius: 30px;
		width: auto;
	}

	.block-height{
		height: 315px;
	}

	.section6,.section7 {
		height: auto;
	}

	.section6 .first-block {
		padding: 0% 38% 0% 5%;
	    background: url(../images/book-sets.jpg) no-repeat;
	    background-size: contain;
    	background-position: center;
    	background-color: #F2F2F2;
	}

	.section6 .second-block {
    	padding: 0% 38% 0% 5%;
    	background-size: contain;
    	background-position: center;
	}

	blockquote::before {
	    top: -60px;
	    left: 0;
	}

	blockquote::after {
		top:auto;
	    bottom: -93px;
	    right: 90px;
	}

	.author {
	    text-align: left;
	    font-size: 15px;
    letter-spacing: 0.8px;
	     /*margin: 15px 0 40px;*/
	}

	.promotional_banner {
     	height: auto;
     	margin-top: 30px;
	}

	.mt-13.ml-14{
		margin-top: 10px;
	}

	.promotional_banner .text.yellow{
		margin-top: 0px;
	}

	.address {
    	font-size: 14px;
    	text-align: center;
    	    width: 100%;
	}

	footer hr {
	    border-top: 1px solid #808080;
	    margin-left: 0%;
	    width: 100%;
	}

	footer .info {
		text-align: center;
	}

	.links a{
		text-align: center;
		color: #FFF;
	    font-size: 15.5px;
	    margin-bottom: 0;
	    padding-top: 10px;
	    font-weight: 500;
	    letter-spacing: 1px
	}

	.detailed_book_section {
	    margin-top: 50px;
	}

	.book-details{
		margin-top: 50px;
	}

	.large-book-title {
	    font-size: 35px;
	}

	.lang_selection .select_label{
		text-align: center;
	}



	ul.review_icons li {
    	 margin-right: 0px;
    }

    .review_slider .slick-prev, .review_slider .slick-next {
        position: absolute;
        bottom: -40px;
        top: auto;
    }

    .review_slider .slick-next {
        right: 97px;
    }

    .rate{
    	font-size: 22px;
    }

     .book-title {
    	font-size: 14px;
    }

    .book-description {
    	font-size: 9px;
    }

    .category_section{
    	margin-top: 0px;
    	position: relative;
    	top: 165px;
    }

    .filter-mr-row {
	     max-width: 100%;
	     margin-right: 0px;
	}

	#filter_bar {
	     margin-top: 0px;
	}

	#Category_filter .search-query {
		width: 83%;
	}

	#Category_filter .search-query::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}

	#Category_filter #accordion .card:hover {
	     box-shadow: none;
	         width: 100%;
	}
	#Category_filter #accordion .card {
	     box-shadow: none;
	     width: 100%;
	}

	.mg-btm {
	    margin-bottom: 50px;
	}

	.mb-20{
		margin-bottom: 20px;
	}

	.checkout_steps {
	    margin-top: 0px;
	    height: auto;
	}
	.checkout_steps img {
	    height: 40px;
	}

	.billing_section {
	     height: auto;
	}

	.details{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.billing_section .card {
    	padding: 1.25rem 18px 1.25rem 20px;
	}

		.address_section {
	    	height: auto;
		}

	.login-card {
	    height: auto;
	    padding: 0 20px;
	}

	.guest_text {
	    text-align: center;
	    margin-bottom: 20px;
	    margin-top: 40px;
	}

	.sign_up_form{
		margin-bottom: 30px;
	}

	.mt-48 {
	    margin-top: 10px;
	}

	.row.full-width.no-gutters.mt-48{
		 margin-top: 40px;
	}

	.color-bck {
	    height: 280px;
	    width: auto;
	}


	.ml-100 {
	    margin-left: 0px;
	}

	.color-bck .yellow_btn{
		margin-top: 0px;
	}

	.new_form {
	    width: auto;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}

	.shipping_new_address_section {
	     height: auto;
	}

	.yellow_btn{
		/*padding: 5px 4px 0px;*/
	}

		/*.yellow_btn.ml-14 {
	    padding: 8px 20px 0;
	}*Muruga/


	/*.wish_btn{
		width: auto !important;
	}

	.transparent_btn{
		width: auto !important;
	}*/

	.btn-pad{
		width: 210px !important;
		text-align: center;
		margin-top: 16px;
	}

	.fa-shopping-cart,.fa-search {
	    font-size: inherit;
	}

	.table-content select {
	    width: auto;
	}

	.test-bckg {
	    background: url(../images/testimonials.jpg) no-repeat;
	     background-size: contain;
	    background-position: center;
	    height: 350px;
	}

	.checkout_steps .col-lg-4 {
	     border-right: 0px solid rgb(102,102,102);
	}

	.auth_text {
		margin-top: 5px;
    	font-size: 12px;
	}

	.navbar-toggler {
	    padding: 1.9rem 0.5rem 1.5rem;
	}

	.black-outline{
		margin-left: 0px;
	}

	#custom-search-form button {
	    padding: 0px 5px 0px;
	}

	.pict_bck {
	    background-color: #F2F2F2;
	    height: 225px;
	}

	blockquote {
	    font-size: 20px;
	}

	.confirmation-section-1{
		margin-top: 0;
	}

}

@media screen and (max-width: 823px) and (orientation: portrait){
	.confirmation-section-1 .btn-yellow{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 823px) and (orientation: landscape){

	.logo {
	    width: 80%;
	}

	.filter-screen .col-5, .filter-screen .col-7{
		height: 700px;
		overflow-y: scroll;
	}

	.book-shelf-bck {
	    background: url(../images/book-shelf.jpg) no-repeat;
	    height: 320px;
	    background-size: cover;
	    background-position: center right;
	}

	.review_slider .slick-next {
	    right: auto;
	    left: 103px;
	}

	#input-field{
		flex: 0 0 37%;
	}

	.btn-pad{
		margin-left: 20px;
	}

	/*.yellow_btn{
		width: auto !important;
	}

	.wish_btn{
		width: auto !important;
	}

	.transparent_btn{
		width: auto !important;
	}*/

	.fa-shopping-cart,.fa-search {
	    font-size: inherit;
	}

	.filter-sort-tabs {
    	top: 100px;
	}

	.filter-screen{
		margin-top: 156px;
	}

	.category_section{
		top: 180px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.desktop-only{
		display: none;
	}

	.mobile-flex-only{
		display: flex;
	}

	.mobile-navbar{
		z-index: 1031;
	}

	.mobile-only{
		display: block;
	}

	.filter-btns, .filter-screen{
		display: none;
	}

	.filter-sort-tabs{
		top:118px;
	}

	.filter-tab{
		color: #fff;
		background: #000;
		padding: 20px;
	}

	.filter-tab.active{
		background: #fedd32;

	}

	.filter-screen .nav-pills .nav-link.active .fa,.filter-screen .nav-pills .show>.nav-link .fa{
		color: #fedd32;
	}

	.filter-tab.active h2{
		color: #212529;
	}

	.filter-screen{
		position: fixed;
		height: 100%;
		background: #fff;
		width: 100%;
		z-index: 1;
		margin-top: 170px;
		display: none;
	}

	.filter-screen .col-5, .filter-screen .col-7{
		padding-bottom: 81.5%;
    	margin-bottom: -81.5%;
	}

	.filter-screen .col-5{
		border-right: 1px solid #ccc;
		padding-right: 0;
	}

	.filter-screen input[type="checkbox"]{
		width: 20px;
		height: 20px;
	}

	.filter-screen .col-7{
		padding-top: 40px;
	}

	.filter-screen .col-7 label{
		font-size: 20px;
		margin-top: -5px;
		position: relative;
		top:-5px;
	}

	.filter-btns{
		display: none;
	}

	.filter-btns .btn-tab{
		padding: 20px;
		border: 1px solid #ccc;
		background: #fff;
	}

	.filter-btns input{
		margin: 0 auto;
		display: block;
	}

	.filter-btns .btn-tab:last-child{
		border-left: none;
	}

	.filter-screen .nav-pills .nav-link{
		padding: 20px 10px;
		border-bottom: 1px solid #ccc;
		color: #212529;
	}

	.filter-btns .sort_text{
		color: #212529;
	}

	.filter-screen .nav-pills .nav-link .fa{
		color: #ccc;
	}

	.filter-screen .nav-pills .nav-link.active,.filter-screen .nav-pills .show>.nav-link{
		background: #f3f3f3;
	}

	.category_section{
		position: relative;
		top:180px;
	}

	.mobile-search-bar{
		    padding: .5rem 1rem;
		display: none;
		    background: #fff;
    	height: 100px;
	}

	.mobile-search-bar input,.mobile-search-bar .input-group-text{
		border: none;
	}

	.mobile-search-bar .input-group-text{
		background: none;
	}

	.mobile-search-bar .fa-chevron-left{
		margin-top: 12px;
	}

	.mobile-search-bar .fa{
		color: #999999;
	}

	.logo{
		width: 100%;
	}

	.mobile-search-bar{
		display: none;
	}

	.navbar-light .navbar-toggler {
	    border: 0px solid;
	}

	.menu-icons a {
	    margin: 0px 1rem;
	    font-size: 25px!important;
	}



	.section1 .big-font {
	    margin-top: 0;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.section1 .card {
		margin: 0%;
		/*margin-top:43px;*/
	}


	.rate{
		margin: .5rem 0;
	}

	.section2 .slick-dots {
	    display: block;
	    bottom: initial;
	    width: 100%;
	    left: initial;
	    background: #FFFCEA;
	}

	.promotion_text {
    	font-size: 35px;
    	text-align: center;
    }

    .big-font {
    	font-size: 34px;
	}

	.section3 {
     height: auto;
	}

	.mr-10{
		flex: auto;
		margin-bottom: 10px;
		margin-right: 0px;
	}

	.extra_width{
		width: auto !important;
		text-align: center;
	}

	.w-49{
		max-width: 100%;
		width:100%;
	}

	.section6 .first-block {
		margin-right: 0px;
	}

	.section5 {
	    margin-top: 40px;
	    height: auto;
	}

	.book-shelf-bck {
	    background: url(../images/book-shelf.jpg) no-repeat;
	    height: 445px;
    	background-size: contain;
	    background-position: center;
	}

	.shelf_font {
		text-align: center;
	}

	.section5 .yellow_btn{
		font-size: 25px;
		border-radius: 30px;
	}

	.block-height{
		height: 315px;
	}

	.section6,.section7 {
		height: auto;
	}

	.section6 .first-block {
		padding: 0% 38% 0% 5%;
	    background: url(../images/book-sets.jpg) no-repeat;
	    background-size: contain;
    	background-position: center;
    	background-color: #F2F2F2;
	}

	.section6 .second-block {
    	padding: 0% 38% 0% 5%;
    	background-size: contain;
    	background-position: center;
	}

	.plain-btn {
	    padding: 4.5px 0px;
	    flex: 0 0 8.33%;
	}

	blockquote{
		margin: 53px 0 0;
	}

	blockquote::before {
	    top: -60px;
	    left: 0;
	}

	blockquote::after {
		top:auto;
	    bottom: -93px;
	    right: 0;
	}

	.author {
	    text-align: left;
	     /*margin: 15px 0 40px;*/
	}

	.promotional_banner {
     	height: auto;
     	margin-top: 30px;
	}

	.mt-13.ml-14{
		margin-top: 10px;
	}

	.promotional_banner .text.yellow{
		margin-top: 0px;
	}

	.address {
    	font-size: 14px;
    	text-align: center;
    	    width: 100%;
	}


	footer hr {
	    border-top: 1px solid #808080;
	    margin-left: 0%;
	    width: 100%;
	}

	footer .info {
		text-align: center;
	}

	.links a{
		text-align: center;
		color: #FFF;
	    font-size: 15.5px;
	    margin-bottom: 0;
	    padding-top: 10px;
	    font-weight: 500;
	    letter-spacing: 1px
	}

		.detailed_book_section {
		    margin-top: 50px;
		}

		.book-details{
			margin-top: 50px;
		}

		.large-book-title {
		    font-size: 35px;
		}

		.lang_selection .select_label{
			text-align: center;
		}

		.btn-pad{
			/*width: 190px;*/
			text-align: center;
		}

		ul.review_icons li {
	    	 margin-right: 0px;
	    }

	    .review_slider .slick-prev, .review_slider .slick-next {
	        position: absolute;
	        bottom: -40px;
	        top: auto;
	    }


	     .rate{
	    	font-size: 22px;
	    }

	     .book-title {
	    	font-size: 14px;
	    }

	     .book-description {
	    	font-size: 9px;
	    }

	    .review_slider .slick-next {
	        right: auto;
	        left: 103px;
	    }

	    #input-field{
	    	flex: 0 0 37%;
	    }

	    .btn-pad{
	    	margin-left: 20px;
	    }



    .category_section{
    	margin-top: 0px;
    }

    .filter-mr-row {
	     max-width: 100%;
	     margin-right: 0px;
	}

	#filter_bar {
	     margin-top: 0px;
	}

	#Category_filter .search-query {
		width: 83%;
	}

	#Category_filter .search-query::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}

	#Category_filter #accordion .card:hover {
	     box-shadow: none;

	}
	#Category_filter #accordion .card {
	     box-shadow: none;
	     width: 100%;
	}

	.mg-btm {
	    margin-bottom: 50px;
	}

	.mb-20{
		margin-bottom: 20px;
	}

	.outline_select {
	    margin-left: 0px;
	}

		.checkout_steps {
		    margin-top: 0px;
		    height: auto;
		    margin-bottom: 40px;
		}
		.checkout_steps img {
		    height: 40px;
		}

		.billing_section {
		     height: auto;
		}

		.details{
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.billing_section .card {
	    	padding: 1.25rem 18px 1.25rem 20px;
		}

		.address_section {
	    	height: auto;
		}

	.login-card {
	    height: auto;
	}

	.guest_text {
	    text-align: center;
	    margin-bottom: 20px;
	    margin-top: 40px;
	}

	.sign_up_form{
		margin-bottom: 30px;
	}

	.color-bck {
	    height: 280px;
	    width: auto;
	}

	.new_form {
	    width: auto;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}

	.shipping_new_address_section {
	     height: auto;
	}

	.test-bckg {
	    background: url(../images/testimonials.jpg) no-repeat;
	     background-size: contain;
	    background-position: center;
	    height: 350px;
	}



	#book_detail > section.detailed_book_section  div.col-12.lang_selection > div.row.mobile-flex-only > div.col-12.center-content.no-padding{
		display: initial;
	}

	.fa-shopping-cart,.fa-search {
	    font-size: inherit;
	}

	.checkout_steps .col-lg-4 {
	     border-right: 0px solid rgb(102,102,102);
	}

}

@media screen and (min-width: 824px) and (max-width: 1024px) and (orientation: landscape) {
	.mobile-flex-only{
		display: none;
	}


	.mobile-only, .mobile-search-bar{
		display: none;
	}

	#top-bar ul li {
	    margin-right: 35px;
	}

	.slick-next {
    	right: -25px;
    }
    .slick-prev {
    	left: -40px;
    }

    .promotion_text {
    	font-size: 46px;
	}

	.section3 {
     height: auto;
	}

	.para.extra_width {
	    width: auto;
	    padding: 0 70px 0 0;
	}

	.section6 .second-block {
	    background: url(../images/story-cards.jpg) no-repeat;
	    background-size: contain;
	    background-position: center right;
    	background-color: #E5E5E5;
	}

	.section6 .first-block {
	    background: url(../images/book-sets.jpg) no-repeat;
	    background-size: contain;
	    background-color: #F2F2F2;
	    background-position: center;
	}

	.author {
	    /*margin: -74px 0px 0px -40px;*/
	}

	.logo{
		margin-left: 0px;
	}

	.section1 .container.row {
	    padding: 0px 13px;
	}

	.main-menu ul.no-padding{
		/*margin-left: auto;*/
	}

	.main-menu ul{
		margin-left: 0;
    padding: 0;
	}

	#HomePage > section.section5 > div.row.full-width.no-gutters.book-shelf-bck.desktop-only > div > div > div > button{
		width:auto;
		padding: 5px 10px;
	}

	.navbar ul li {
	    margin-right: 19px;
	}

	.detailed_book_section .ml-100 {
	    margin-left: 18px;
	}

	.detailed_book_review textarea {
	    margin-left: 0;
	}

	.review_slider .slick-prev, .review_slider .slick-next {
	    position: absolute;
	    top: 238px;
	}

	.review_slider .slick-next {
	    right: 142px;
	}



	.filter-mr-row {
	    margin-right: 20px;
	}

	.type-block label{
		padding-left: 2px;
	}

	.float {
	    right: -50px;
	}

	#input-field::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #fff;
	}

	.login-card {
	    padding: 0px 10px;
	}

	.sign_up_form input {
    	width: 96%;
	}

	.shipping_new_address_section {
	     height: auto;
	     margin: 30px 0px;
	}

	blockquote::after {
	    /*bottom: 20px;*/
	    right: auto;
	}



	#book_detail .featured_slider .w-24 {
	     width: 223px !important;
	}

	.fa-shopping-cart,.fa-search {
	    font-size: inherit;
	}

	#book_detail > section.detailed_book_section > div > div.row.full-width.no-gutters.mt-59.mb-95 > div.col-12.offset-lg-1.col-lg-5 > div.col-12.lang_selection > div.row.desktop-only > div.col-12.no-padding > a.yellow_btn.center-content.btn-pad{
		width: auto;
	}

	#book_detail > section.detailed_book_section > div > div.row.full-width.no-gutters.mt-59.mb-95 > div.col-12.offset-lg-1.col-lg-5 > div.col-12.lang_selection > div.row.desktop-only > div.col-12.no-padding > a.wish_btn.center-content.btn-pad.ml-100{
		width: auto;
	}

}

@media screen and (min-width:1400px) and (max-width:1599px){


	.section6 .second-block {
	    height: 415px;
	    padding: 0% 23.55% 0% 4%;
	}

	.author{
		/*margin: -115px 0px 0px -40px;*/
	}
}

@media screen and (min-width:1600px) and (max-width:1799px) {



	.author{
		/*margin: -87px 0px 0px -40px;*/
	}
}

@media (min-width:1800px){
	.plain-btn {
	    padding: 5.5px 0;
	}

}
