* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  /* color: inherit; */
   /* box-sizing: inherit; */ 
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  -webkit-font-smoothing: antialiased;
}

*:focus { outline: none; }
html { box-sizing: border-box; }
a { text-decoration: none; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.navigation-bar, .navigation-bar .navbox-tiles, .navbox-trigger, .navbox-tiles .tile, .navbox-tiles .tile .icon .fa, .navbox-tiles .tile .title {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.navbox-tiles:after {
  content: '';
  display: table;
  clear: both;
}
.navigation-bar {
  height: 45px;
  position: relative;
  z-index: 1000;
}
.navigation-bar .bar {
  background-color: #00AFF0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.navigation-bar .navbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.navigation-bar .navbox-tiles {
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
}
.navigation-bar.navbox-open .navbox-trigger { background-color: #00AFF0; }
.navigation-bar.navbox-open .navbox {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
}
.navigation-bar.navbox-open .navbox-tiles {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.navbox-trigger {
  background-color: transparent;
  width: 50px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbox-trigger .fa {
  font-size: 20px;
  color: #fff;
}
.navbox-trigger:hover { background-color: #00AFF0; }
.navbox {
  background-color: #FFF;
  width: 100%;
  min-width: 870px;
  min-height: 265px;
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  border-radius: 2px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22) !important;
}
.navbox-tiles {
  width: 100%;
  padding: 15px;
}
.navbox-tiles .tile {
  display: block;
  background-color: #fafafa;
  width: 100px;
  height: 100px;
  /* padding-bottom: 12%; */
  float: left;
  color: #646464;
  position: relative;  margin:10px;
}
.navbox-tiles .tile .icon {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.navbox-tiles .tile .icon .fa {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
}
.navbox-tiles .tile .title {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbox-tiles .tile:hover {
  border-color: #fff;
  text-decoration: none;
}
.navbox-tiles .tile img {width:100%;}
.navbox-tiles .tiletxt {position: absolute; font-size: 12px; top: 75px; text-align: center; padding:5px 2px; left: 0px;color: #fff; right: 0;}

@media screen and (max-width: 370px) {
.navbox-tiles .tile .icon .fa { font-size: 25px; }
.navbox-tiles .tile .title {
  padding: 3px;
  font-size: 11px;
}
}
.brandLogo{
	float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 1px;
}