* {font-family: Frutiger Next Pro, Frutiger, Arial, sans-serif;}
/* do not group these rules */
body {padding-top: 45px;}
.navbar {padding:0rem;}
.navbar-brand{padding: 5px 15px !important; color: #fff !important; font-weight: 700;
font-family: "Frutiger", Arial, sans-serif; font-size:20px !important; height: 50px!important;}
.navbar-brand-tit{padding: 0px 15px !important; }
.navbar {min-height: 50px!important;}
.navbar-nav > li > a {padding-top:14px !important; padding-bottom:14px !important;}
.navbar-default .navbar-nav > li > a {color: #fff !important; }
.nav>li>a {padding:5px 5px ; font-size:14px;}
.navigation-bar {margin-right: 45px;float: left;}
.navbox-trigger span {color: #fff !important; font-size: 22px; line-height: 42px;}
.navbar-nav {font-size:14px;}
.dropdown-header{  background: #eee;  font-weight: 600;}
.padding-a {padding: 0px !important;}
.padding-l {padding-right: 15px; padding-left: 0px !important;}
.padding-r {padding-right: 0px; padding-left: 15px !important;}
.iconfont{font-size:20px;}
.jumbotron {padding-top:5px !important; padding-bottom:10px !important; margin-top: 0px !important; 
/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
 background-image: url("../images/head-bg.jpg"); background-repeat: repeat-x;*/ padding-left:0rem; padding-right:0rem} 
.foot{text-align:center;}
.breadcrumb {border-radius: 0px !important;padding:5px 8px; margin-bottom: 10px;}
.bootstrap-datetimepicker-widget{z-index:9999 !important;}
.input-group form-control:focus{z-index:9999 !important;}
.table-responsive {overflow-x: inherit!important;}
table {font-size: 14px !important;}
.pagination > li > a, .pagination > li > span {padding: 3px 8px !important;
font-size: 14px;}
.jumbotron p {font-size: 14px !important;}
.page-header {margin: 5px 0 15px; padding-bottom:0px;min-height: 37px; border-bottom: 1px solid #D3D3D3;}
/*.page-header:after{
    content: "";
    float: left;
    width: 100%;
	border-bottom: 1px solid #D3D3D3;}*/
.border-b { border-bottom: 1px solid #D3D3D3;}
.display-4 {    font-size: .9rem !important; font-weight: 500; line-height: 1.2;}
.jumbotron .h1, .jumbotron h1 {font-size: 24px !important; margin-top: 0px !important; font-weight:700;}
.jumbotron .h2, .jumbotron h2 {/*font-size: 18px !important;*/ margin-top: 10px !important;}
div.dataTables_wrapper div.dataTables_info { padding-top: 0 !important; font-size:14px;    white-space: nowrap;}
.rules-group-container {border: 1px solid #eee !important; background: rgba(250,250,250,.5) !important;}
.longtext { text-overflow: ellipsis; width: 280px; white-space: nowrap; overflow: hidden;}
.longtext-nowrap { width: 490px; overflow: hidden;}
/*.modal{top:20% !important;}*/
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {filter: alpha(opacity=0); font-size: 100%; height: 100%; }
}
h1 {font-size: 28px !important;}
h2 {font-size: 24px !important;}
.mt {margin-top:10px !important;}
.m5{margin-top:5px !important;}
.mr { margin-right:0px !important;}
.ml { margin-left:5px !important;}
.mt-6, .my-6 {  margin-top: 6.67rem!important;}
.offset-sm-2 {margin-left: 16.866667% !important;}
ol a {margin: 0 2px}
.container .text-muted, .container-fluid .text-muted {margin: 10px 0;   font-size: 13px;}
.panel-default>.panel-heading {color: #333; background-color: #fff; border-color: #e4e5e7; padding: 0;-webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;}
.panel-title {font-size: 14px;}
.panel-default>.panel-heading a { display: block; padding: 10px 10px;  text-decoration: none;}
.panel-default>.panel-heading a:after { content: ""; position: relative; top: 1px; display: inline-block;  font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  float: right;  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;}
.panel-default>.panel-heading a[aria-expanded="true"] {  background-color: #eee;}
.panel-default>.panel-heading a[aria-expanded="true"]:after {  content: "\e113";}
.panel-default>.panel-heading a[aria-expanded="false"]:after {  content: "\e114";}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { padding: 2px;vertical-align: middle;}
td .container-fluid {
    margin: 20px 20px 20px 30px;
    width: 96%;
    box-shadow: 10px 10px 5px #ecebeb;
    background: #fff; 
}
.table-responsive { min-height: .01%; overflow-x: auto; margin-top: 10px;}
.font-weight-bold {font-weight:700;}
.list-group-item {padding: 5px 15px !important;}	 
.bootstrap-select .dropdown-toggle {border: 0px solid #ced4da; font-size:14px!important;color: #c7c9cb !important;  border-radius: 0px;}
.bootstrap-select.btn-primary, .bootstrap-select .btn-primary:hover{background:transparent!important; }
.bootstrap-select  .btn-primary.active, .bootstrap-select .btn-primary:active, .open>.dropdown-toggle.btn-primary{background:transparent!important;}
.bootstrap-select>.dropdown-toggle::after{margin-left:-5px;}
.fa-filter:before{  position: absolute;right: 7px; top:6px; color: #c7c9cb;}
.bootstrap-select .dropdown-toggle:focus{
    color: #495057;
    border-color: rgba(82,168,236,.8) !important;
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
}
.btn.active, .btn:active {-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125)!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125)!important;}
.btn-group.open .dropdown-toggle{-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;}	
.bootstrap-select.btn-group .dropdown-toggle .caret {right: 5px!important;}
/*.nav-tabs {background:#f1f1f1;}*/
.nav-tabs > li > a {padding: 5px 5px;font-weight: 700;}
.nav-tabs .nav-link {border-top-left-radius: 0rem!important;
border-top-right-radius: 0rem!important;}
/*.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{box-shadow: 0px -2px 9px 1px #dedede;}*/
hr {margin-top: 10px;margin-bottom: 15px;}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.dropdown-item {font-size:14px;}
.btn-group-sm>.btn, .btn-sm {font-size: 16px;
font-weight: 700;     padding: 0.43rem 0.75rem !important;}

/* Main Nav styles
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  /* color: inherit; */
   /* box-sizing: inherit; */ 
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  -webkit-font-smoothing: antialiased;
}

*:focus { outline: none; }
html { box-sizing: border-box; }
a { text-decoration: none; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.navigation-bar, .navigation-bar .navbox-tiles, .navbox-trigger, .navbox-tiles .tile, .navbox-tiles .tile .icon .fa, .navbox-tiles .tile .title {  -webkit-transition: all .3s;
  transition: all .3s;}
.navbox-tiles:after { content: '';  display: table;  clear: both;}
.navigation-bar { height: 45px;  position: relative;  z-index: 1000;}
.navigation-bar .bar { background-color: #00AFF0; width: 100%; height: 100%; position: absolute;
  z-index: 2;}
.navigation-bar .navbox { visibility: hidden; opacity: 0; position: absolute; top: 100%;  left: 0; z-index: 9999; -webkit-transform: translateY(-200px);  -ms-transform: translateY(-200px);
  transform: translateY(-200px);  -webkit-transition: all .2s;  transition: all .2s;}
.navigation-bar .navbox-tiles { -webkit-transform: translateY(-200px); -ms-transform: translateY(-200px);  transform: translateY(-200px);}
.navigation-bar.navbox-open .navbox-trigger { background-color: #00AFF0; }
.navigation-bar.navbox-open .navbox { visibility: visible; opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -webkit-transition: opacity .3s, -webkit-transform .3s;  transition: opacity .3s, transform .3s;}
.navigation-bar.navbox-open .navbox-tiles { -webkit-transform: translateY(0);  -ms-transform: translateY(0); transform: translateY(0);}
.navbox-trigger {  background-color: transparent; width: 50px; height: 45px; line-height: 45px; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none;}
.navbox-trigger .fa { font-size: 20px; color: #fff;}
.navbox-trigger:hover { background-color: #00AFF0; }
.navbox { background-color: #FFF; width: 100%; min-width: 870px; min-height: 265px;  -webkit-backface-visibility: initial;  backface-visibility: initial;  border-radius: 2px !important;  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22) !important;
}
.navbox-tiles { width: 100%; padding: 15px;}
.navbox-tiles .tile { display: block;  background-color: #fafafa;  width: 100px; height: 100px; /* padding-bottom: 12%; */ float: left; color: #646464; position: relative; margin:10px;}
.navbox-tiles .tile .icon { width: 100%; height: 100%; text-align: center; position: absolute;  top: 0; left: 0;}
.navbox-tiles .tile .icon .fa { font-size: 35px; position: absolute; top: 50%; left: 50%;  -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-backface-visibility: initial; backface-visibility: initial;}
.navbox-tiles .tile .title { padding: 5px; font-size: 14px; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; color: #666666; font-family: "Frutiger", Arial, sans-serif;}
.navbox-tiles .tile:hover { border-color: #fff;  text-decoration: none;}
.navbox-tiles .tile img {width:100%;}
.navbox-tiles .tiletxt {position: absolute; font-size: 14px; top: 75px; text-align: center; padding:5px 2px; left: 0px;color: #fff; right: 0;}
.btn-group-xs > .btn, .btn-xs { padding: 1px 5px; font-size: 14px; line-height: 1.5;   border-radius: 3px; margin-left:3px;}
.brandLogo{	float: left; height: 50px; padding: 0px 15px; font-size: 18px; line-height: 20px;
margin-top: 1px;}
button:focus {outline: 1px none !important;}
.navbar .dropdown-menu { border-radius: 0!important; min-width: 16rem !important;  padding: 0rem 0 !important; margin: 0rem 0 0 !important;}
.navbar .dropdown-item	{ border-bottom: 1px solid #e4e1e1;}
/* Sticky footer styles
-------------------------------------------------- */
html {  position: relative; min-height: 100%;}
body {  /* Margin bottom by footer height */  margin-bottom: 40px;}
.footer { position: absolute; bottom: 0; width: 100%;  /* Set the fixed height of the footer here */
  /* height: 40px;*/ background-color: #f5f5f5; z-index:123;}
  
/*
 * Sidebar
 */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 2px 8px 2px 15px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
  background:#f5f5f5;
}
.sidenav  li a{border-bottom:1px solid #e4e3e3}

.sidenav .closebtn {
position: absolute;
top: -10px;
right: 3px;
font-size: 25px;
margin-left: 0px;
font-weight: 700;    border-bottom: 0;
}

#main {
  transition: margin-left .5s;
  padding: 0px; width:100%;margin-left: 250px;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem; padding-left: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 700;
  color: #212121;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #333;
}

.sidebar .nav-link.active {
  color: #FF3333;
  background: #f5f5f5;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 10px; /* Space for fixed navbar */
}  
.sidebar   .dropdown-toggle::after {right: 10px; position: absolute; margin-top: 7px;}
  
/* Home Section
-------------------------------------------------- */
.prodetails { height: 102px; background: #ffffff; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); margin: 8px 0px;}
.prodetails:hover{background: #f0f0f0;}
.prodetails a:hover {text-decoration: none;}
.pro-img {height: 100px; padding: 14px; box-sizing: border-box; float: left; text-align: center}
.pro-img img {width:80px;}
.pro-heading { text-align: left;  height: 35px; padding: 2px; color: #333333; font-weight: normal; line-height: 40px; font-size: 18px;}
.pro-heading a {color: #333333; text-decoration: none; font-weight: normal; line-height: 40px; font-size: 18px;}
.pro-heading a:hover {text-decoration: none; font-size: 18px}
.products { height: 35px; line-height: 18px; font-weight: normal; font-size: 14px; color: #959595; text-overflow: ellipsis; padding: 2px 5px;}
.products a {text-decoration: none; font-weight: normal; font-size: 14px; color: #000000}
.products a:hover {text-decoration: none; font-size: 14px; color: #cc0000}

/* Forms Section
   -------------------------------------------------- */
.form-group  {    margin-bottom: 0.25rem;}
.form-group row row {  margin-bottom: 3px !important;    margin-top: 3px;}
.form-horizontal .control-label {padding-top: 4px;}
.form-control {font-size: 14px !important; color:#100f0f;  font-weight:300;     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s; border: 1px solid #ccc !important; border-radius: 0px !important;}
.filter-option {font-size: 14px !important; color:#212529; font-weight:300;}
.nonselect{color: #c7c9cb!important;  font-weight:normal;}
.custom-select{background:url("../images/selectarrow.png")no-repeat center right !important }
.bootstrap-select .dropdown-toggle::after{display:none ;}
.btn.disabled, .btn:disabled { opacity: 1 !important;}
.form-control:focus { border-color: rgba(82,168,236,.8) !important; outline: 0; outline: thin dotted \9; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important; -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6) !important;  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important; }
.dropdown-item {    padding: 0.469rem 1.5rem !important;}
/*.form-control {border: 0px solid #ccc !important; border-bottom: 1px solid #ccc !important; background-color: transparent !important; border-radius: 0px !important; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important; box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important; -webkit-transition: border-color ease-in-out .0s,-webkit-box-shadow ease-in-out .0s!important; -o-transition: border-color ease-in-out .0s,box-shadow ease-in-out .0s!important; transition: border-color ease-in-out .0s,box-shadow ease-in-out .0s!important; color: #555555;font-weight:500;font-size: 12px!important; padding: 4px 10px;}
.input-group-addon {background-color: #ced4da !important; padding: 1px 4px 1px 2px!important; font-size: 16px!important; font-weight: 700 !important; border-radius: 0rem .25rem .25rem 0rem !important; border: 1px solid #ced4da !important;  color: #205081; /*border-bottom: 1px solid #ced4da !important;}*/
.input-group-addon {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1px 7px 1px 7px;  margin-bottom: 0; font-size: 1rem; font-weight: 700; line-height: 1.5; color: #000000; text-align: center; white-space: nowrap; background-color: #fff; border-top: 1px solid #ced4da;border-left: 0px solid #ced4da;border-bottom: 1px solid #ced4da;border-right: 1px solid #ced4da; border-radius:0rem; cursor: pointer;}
.fw {font-weight:500 !important; color: #555555; text-align: left !important; padding-left: 10px;}
label{font-weight: 400 !important;font-size: 14px; ;margin-bottom: inherit; }
.help-block {margin:0px !important;}
.input-sm {height: 34px !important;font-size: 14px!important;}
/*.has-error .form-control {border-color: #a94442 !important;}*/
.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {border:1px solid #ced4da !important;}
.list-unstyled {font-size: 14px; margin-bottom: 0rem;}
select {padding:4px 12px!important; height:28px !important;}
.fileinput-button { position: relative; overflow: hidden; display: inline-block;}
.fileinput-button input {  position: absolute;  top: 0;  right: 0;  margin: 0;  opacity: 0;  -ms-filter: 'alpha(opacity=0)';  font-size: 200px !important;  direction: ltr;  cursor: pointer;}
.form-horizontal .control-label {text-align:left;}
.progress {margin-bottom:0px;}
.table-responsive .container-fluid{padding-right:0px !important; padding-left: 0px !important;}
.col-form-label {padding-top:5px; font-size:14px;}
.float-right .glyphicon, td .glyphicon{padding:4px !important}
.float-right .fa{font-size:14px;}
.btn-group-sm>.btn, .btn-sm {line-height: 1.3 !important;}
input[type="radio"]:checked:after { content: ' '; width: 8px; height: 8px; border-radius: 50px;
position: absolute; top:5px; background: #c00; text-shadow: none; font-size: 32px;}
input[type=radio] { padding: 3px; height: 16px !important; width: 16px !important;-webkit-appearance: none; -moz-appearance: none; background-color: rgb(250, 250, 250);    border: 1px solid #adb8c0; margin-right: 5px;  margin-top: 0; border-radius: 10px;}
table input[type="radio"]:checked:after { content: ' '; width: 8px; height: 8px; border-radius: 50px;
position: absolute; top:3px; background: #c00; text-shadow: none; left: 3px; font-size: 32px;}
table input[type=radio] { padding: 0; height: 16px !important; width: 16px !important;-webkit-appearance: none; -moz-appearance: none; background-color: rgb(250, 250, 250);    border: 1px solid #adb8c0; margin-right: 5px;  margin-top: 0; border-radius: 10px;}
input[type="checkbox"]:checked:after {content: '\2714'; font-size: 12px; position: absolute;color: #c00;    margin-left: 2px;}
input[type=checkbox] { padding: 0; height: 16px !important; width: 16px !important;   -webkit-appearance: none; -moz-appearance: none; background-color: rgb(250, 250, 250); border: 1px solid #adb8c0; margin-right: 2px; margin-top: 6px; margin-left:5px;}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {olor: #a94442; border-color: #a94442 !important; background: #FFF url(../images/icn-red-x.png) no-repeat 100% 50%;}
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {color: #008000;   border-color: #008000 !important;
	background: #FFF url(../images/icn-green-check.png) no-repeat 100% 50%;}
	.form-check-label {
    margin-bottom: 13px;
}
/* Customer Portal Dashboard Section
   -------------------------------------------------- */
.small-box {border-radius: 2px; position: relative; display: block; margin-bottom: 20px; box-shadow: 0 1px 1px rgba(0,0,0,0.1); }
.small-box>.inner {padding: 10px;}
.small-box h3, .small-box p { z-index: 5;}
.small-box h3 { font-size: 38px; font-weight: bold; margin: 0 0 10px 0; white-space: nowrap; padding: 0; }
.small-box .icon { -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; position: absolute; top: -10px; right: 10px; z-index: 0;  font-size: 90px; color: rgba(32, 80, 129,0.80);}
.small-box>.small-box-footer { position: relative; text-align: center; padding: 3px 0; color: #fff; color: rgba(255,255,255,0.8); display: block; z-index: 10;  background: rgba(0,0,0,0.1); text-decoration: none;}
.rules-group-header .active{  background: #1a4067 !important;}
/* Auto Complete Search
   -------------------------------------------------- */
.search-bg {background:#f1f1f1; top: -8px;}
.search-bg .input-group-addon { border: 0px solid #ccc !important;}
.search-bg .form-control { border: 1px solid #ced4da !important;}  
.autocomplete { position: relative;}
.autocomplete-items {position: absolute; border: 0px solid #d4d4d4; border-bottom: none; border-top: none; z-index: 99; top: 100%; left: 0; right: 0;}
.autocomplete-items div { padding: 5px 10px; cursor: pointer; background-color: #fff; border-bottom: 1px solid #d4d4d4; }
.autocomplete-items div:hover { background-color: #e9e9e9; }
.autocomplete-active { background-color: DodgerBlue !important; color: #ffffff; }
.autocomplete .input-group-addon { font-size: 11px!important;}

/* Tabs Scroll
   -------------------------------------------------- */
.wrapper { position:relative; margin:0 auto; overflow:hidden; padding:5px; height:32px;}
.list { position:absolute; left:0px; top:0px; min-width:2000px; margin-left:0px; margin-top:0px;}
.list li{	display:table-cell; position:relative; text-align:center; cursor:grab; cursor:-webkit-grab; color:#efefef;
vertical-align:middle;}
.scroller { text-align:center; cursor:pointer; display:none; padding:2px; padding-top:4px; white-space:no-wrap;  vertical-align:middle; background-color:#f1f1f1;}
.scroller-right{ float:right;}
.scroller-left { float:left;}
.table th { border-top: 0px solid #dee2e6!important ;}

/* loader
   -------------------------------------------------- */
/* LOADER 4 */

#loader span{ display: inline-block; width: 10px;  height: 10px;  border-radius: 100%;  background-color: #3498db;  margin: 35px 5px;  opacity: 0;}
#loader span:nth-child(1){ animation: opacitychange 1s ease-in-out infinite;}
#loader span:nth-child(2){ animation: opacitychange 1s ease-in-out 0.33s infinite;}
#loader span:nth-child(3){ animation: opacitychange 1s ease-in-out 0.66s infinite;}
@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
}
/*
	Sitemap Styler 	 
*/

#sitemap, #sitemap ul, #sitemap li{
	margin:0;
	padding:0;
	list-style:none;
}
#sitemap{}
#sitemap ul{
	display:none;
}
#sitemap li{
	line-height:200%;
	margin-top:1px;
	background:#eee;
	position:relative;
	width:100%;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #sitemap li{
	float:left;
	display:inline;
}

#sitemap li a{padding-left:28px;}
#sitemap li span{float:left;position:absolute;top:9px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#sitemap li span, #sitemap li span.collapsed{background:url(../images/collapsed.gif) no-repeat 0 0;} 
#sitemap li span.expanded{background:url(../images/expanded.gif) no-repeat 0 0;}

/* second level */

#sitemap li li{
	background:#fff;
}
#sitemap li li a{padding-left:56px;}
#sitemap li li span{left:28px;}

/* third level */

#sitemap li li li a{padding-left:84px;}
#sitemap li li li span{left:56px;}

/* etc. */

/*  */
.modal-xl {
		max-width: 90%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2f2f2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}
.bootstrap-select.btn-group[class*="col-"] .form-control 
td .bootstrap-select.btn-group[class*="col-"] .dropdown-toggle, td .bootstrap-select.form-control:not([class*="col-"]), td .form-inline .bootstrap-select.btn-group .form-control {min-width: 120px;}
.text-danger {
    color: #ff3333 !important;
}

/**** Normall css End***/

/* Tabs Scroll
   -------------------------------------------------- */
 .panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}.panel-body{padding:15px}.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px}.panel-heading>.dropdown .dropdown-toggle{color:inherit}.panel-title{margin-top:0;margin-bottom:0;font-size:20px;color:inherit; font-weight: 700;}.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{color:inherit}.panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.list-group,.panel>.panel-collapse>.list-group{margin-bottom:0}.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item{border-width:1px 0;border-radius:0}.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{border-top:0;border-top-left-radius:3px;border-top-right-radius:3px}.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child{border-top-left-radius:0;border-top-right-radius:0}.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}.list-group+.panel-footer{border-top-width:0}.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table{margin-bottom:0}.panel>.panel-collapse>.table caption,.panel>.table caption,.panel>.table-responsive>.table caption{padding-right:15px;padding-left:15px}.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table:first-child>thead:first-child>tr:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child{border-top-left-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child{border-top-right-radius:3px}.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:3px}.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body{border-top:1px solid #ddd}.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th{border-top:0}.panel>.table-bordered,.panel>.table-responsive>.table-bordered{border:0}.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th{border-bottom:0}.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}.panel>.table-responsive{margin-bottom:0;border:0}.panel-group{margin-bottom:20px}.panel-group .panel{margin-bottom:0;border-radius:4px}.panel-group .panel+.panel{margin-top:5px}.panel-group .panel-heading{border-bottom:0}.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body{border-top:1px solid #ddd}.panel-group .panel-footer{border-top:0}.panel-group .panel-footer+.panel-collapse .panel-body{border-bottom:1px solid #ddd}.panel-default{border-color:#ddd}.panel-default>.panel-heading{color:#333;background-color:#f5f5f5;border-color:#ddd}.panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ddd}.panel-default>.panel-heading .badge{color:#f5f5f5;background-color:#333}.panel-default>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ddd}.panel-primary{border-color:#337ab7}.panel-primary>.panel-heading{color:#fff;background-color:#337ab7;border-color:#337ab7}.panel-primary>.panel-heading+.panel-collapse>.panel-body{border-top-color:#337ab7}.panel-primary>.panel-heading .badge{color:#337ab7;background-color:#fff}.panel-primary>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#337ab7}.panel-success{border-color:#d6e9c6}.panel-success>.panel-heading{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.panel-success>.panel-heading+.panel-collapse>.panel-body{border-top-color:#d6e9c6}.panel-success>.panel-heading .badge{color:#dff0d8;background-color:#3c763d}.panel-success>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}.panel-info{border-color:#bce8f1}.panel-info>.panel-heading{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.panel-info>.panel-heading+.panel-collapse>.panel-body{border-top-color:#bce8f1}.panel-info>.panel-heading .badge{color:#d9edf7;background-color:#31708f}.panel-info>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#bce8f1}.panel-warning{border-color:#faebcc}.panel-warning>.panel-heading{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.panel-warning>.panel-heading+.panel-collapse>.panel-body{border-top-color:#faebcc}.panel-warning>.panel-heading .badge{color:#fcf8e3;background-color:#8a6d3b}.panel-warning>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#faebcc}.panel-danger{border-color:#ebccd1}.panel-danger>.panel-heading{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}.panel-danger>.panel-heading .badge{color:#f2dede;background-color:#a94442}.panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}
 @media only screen and (min-width: 768px){ 
 .panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group row:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{clear:both} }  
   
/*@media only screen and (min-width: 778px){
.modal-dialog {max-width: 900px;}

}*/
@media only screen and (max-width: 990px){
.navbar-nav {  padding: 10px;} 
.navbar-nav .nav-link { padding-right: 5px; padding-left: 10px;}
.navbar-toggler {border: 0px solid transparent;}	
.navbar-dark .navbar-toggler {color:#fff !important;}
.nav-item .dropdown-menu {background:#000 !important; color:#fff !important;  border:0px solid #fff !important; }
.nav-item .dropdown-menu a{color:#fff !important;}
}
@media only screen and (max-width: 768px){
.wrapper {height: auto; position: inherit; overflow:visible;}
.scroller-right {display:none !important;}
.list{ position: inherit; min-width:auto;}
.list li {display:block;}
.nav-tabs { 	overflow-x: auto; overflow-y: hidden; display: -moz-box; display: -webkit-box;}
.nav-tabs>li { float: none;}
.longtext {text-overflow: ellipsis; width: 180px; white-space: nowrap; overflow: hidden;}
.longtext-nowrap { width: 180px; overflow: hidden;}
.offset-sm-2 { margin-left: 17.1% !important;}
}

@media only screen and (max-width: 767px){
.table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd;	}
}

@media (max-width: 736px) {
.padding-l {padding-right: 0px !important; padding-left: 0px !important;}
.padding-r {padding-right: 0px !important; padding-left: 0px !important;}
.nav {padding-left: 0px;}
.navbox-trigger {width: 45px;}
.navigation-bar {position: absolute !important;top: 0; left:0;}
.navbar-brand-tit {margin-left:0px;margin-right: 0px;}
.navbox {min-width: 370px;}
.navbox-tiles .tile {width: 70px;height: 70px; margin:5px;}
.navbox-tiles .tile img {width:100%;}
.navbox-tiles .tiletxt {font-size: 10px; top: 50px; text-align: center; padding:3px 2px; }
.navbar-toggle {padding: 7px 10px !important;}
.input-sm {padding: 5px 0px;}
.form-control {padding: 5px 5px;}
.bootstrap-select.btn-group > .dropdown-toggle {padding: 5px 12px 5px 5px !important;}
.offset-sm-2 {padding-left: 0px!important; margin-left: 0 !important;}
/*.page-header h1, .page-header h2{font-size: 100% !important;} .panel-title {font-size: 100% !important;}*/
.search-bg {background:transparent; padding:0px 10px; top: 10px; margin-bottom:20px;}
.page-header {border-bottom: 1px solid #ced1d4;}
.page-header::after {
    display: block;
    clear: both;
    content: "";
}
/*.border-b { border-bottom: 0px solid #D3D3D3;}*/
/*.float-right {float:none !important;}
.float-left {float:none !important;}*/
/*.jumbotron .h1, .jumbotron h1 {line-height: 25px; font-size: 100% !important;}*/
.jumbotron {padding-bottom:70px !important;}
h2 {font-size: 100% !important;}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {margin: 5px 0px 0px 0px;}

}
@media screen and (max-width: 370px) {
.navbox-tiles .tile .icon .fa { font-size: 25px; }
.navbox-tiles .tile .title {
  padding: 3px;
  font-size: 11px;
}

}
/* Font 
-------------------------------------------------- */
@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.glyphicon-asterisk:before{content:"\002a"}.glyphicon-plus:before{content:"\002b"}.glyphicon-eur:before,.glyphicon-euro:before{content:"\20ac"}.glyphicon-minus:before{content:"\2212"}.glyphicon-cloud:before{content:"\2601"}.glyphicon-envelope:before{content:"\2709"}.glyphicon-pencil:before{content:"\270f"}.glyphicon-glass:before{content:"\e001"}.glyphicon-music:before{content:"\e002"}.glyphicon-search:before{content:"\e003"}.glyphicon-heart:before{content:"\e005"}.glyphicon-star:before{content:"\e006"}.glyphicon-star-empty:before{content:"\e007"}.glyphicon-user:before{content:"\e008"}.glyphicon-film:before{content:"\e009"}.glyphicon-th-large:before{content:"\e010"}.glyphicon-th:before{content:"\e011"}.glyphicon-th-list:before{content:"\e012"}.glyphicon-ok:before{content:"\e013"}.glyphicon-remove:before{content:"\e014"}.glyphicon-zoom-in:before{content:"\e015"}.glyphicon-zoom-out:before{content:"\e016"}.glyphicon-off:before{content:"\e017"}.glyphicon-signal:before{content:"\e018"}.glyphicon-cog:before{content:"\e019"}.glyphicon-trash:before{content:"\e020"}.glyphicon-home:before{content:"\e021"}.glyphicon-file:before{content:"\e022"}.glyphicon-time:before{content:"\e023"}.glyphicon-road:before{content:"\e024"}.glyphicon-download-alt:before{content:"\e025"}.glyphicon-download:before{content:"\e026"}.glyphicon-upload:before{content:"\e027"}.glyphicon-inbox:before{content:"\e028"}.glyphicon-play-circle:before{content:"\e029"}.glyphicon-repeat:before{content:"\e030"}.glyphicon-refresh:before{content:"\e031"}.glyphicon-list-alt:before{content:"\e032"}.glyphicon-lock:before{content:"\e033"}.glyphicon-flag:before{content:"\e034"}.glyphicon-headphones:before{content:"\e035"}.glyphicon-volume-off:before{content:"\e036"}.glyphicon-volume-down:before{content:"\e037"}.glyphicon-volume-up:before{content:"\e038"}.glyphicon-qrcode:before{content:"\e039"}.glyphicon-barcode:before{content:"\e040"}.glyphicon-tag:before{content:"\e041"}.glyphicon-tags:before{content:"\e042"}.glyphicon-book:before{content:"\e043"}.glyphicon-bookmark:before{content:"\e044"}.glyphicon-print:before{content:"\e045"}.glyphicon-camera:before{content:"\e046"}.glyphicon-font:before{content:"\e047"}.glyphicon-bold:before{content:"\e048"}.glyphicon-italic:before{content:"\e049"}.glyphicon-text-height:before{content:"\e050"}.glyphicon-text-width:before{content:"\e051"}.glyphicon-align-left:before{content:"\e052"}.glyphicon-align-center:before{content:"\e053"}.glyphicon-align-right:before{content:"\e054"}.glyphicon-align-justify:before{content:"\e055"}.glyphicon-list:before{content:"\e056"}.glyphicon-indent-left:before{content:"\e057"}.glyphicon-indent-right:before{content:"\e058"}.glyphicon-facetime-video:before{content:"\e059"}.glyphicon-picture:before{content:"\e060"}.glyphicon-map-marker:before{content:"\e062"}.glyphicon-adjust:before{content:"\e063"}.glyphicon-tint:before{content:"\e064"}.glyphicon-edit:before{content:"\e065"}.glyphicon-share:before{content:"\e066"}.glyphicon-check:before{content:"\e067"}.glyphicon-move:before{content:"\e068"}.glyphicon-step-backward:before{content:"\e069"}.glyphicon-fast-backward:before{content:"\e070"}.glyphicon-backward:before{content:"\e071"}.glyphicon-play:before{content:"\e072"}.glyphicon-pause:before{content:"\e073"}.glyphicon-stop:before{content:"\e074"}.glyphicon-forward:before{content:"\e075"}.glyphicon-fast-forward:before{content:"\e076"}.glyphicon-step-forward:before{content:"\e077"}.glyphicon-eject:before{content:"\e078"}.glyphicon-chevron-left:before{content:"\e079"}.glyphicon-chevron-right:before{content:"\e080"}.glyphicon-plus-sign:before{content:"\e081"}.glyphicon-minus-sign:before{content:"\e082"}.glyphicon-remove-sign:before{content:"\e083"}.glyphicon-ok-sign:before{content:"\e084"}.glyphicon-question-sign:before{content:"\e085"}.glyphicon-info-sign:before{content:"\e086"}.glyphicon-screenshot:before{content:"\e087"}.glyphicon-remove-circle:before{content:"\e088"}.glyphicon-ok-circle:before{content:"\e089"}.glyphicon-ban-circle:before{content:"\e090"}.glyphicon-arrow-left:before{content:"\e091"}.glyphicon-arrow-right:before{content:"\e092"}.glyphicon-arrow-up:before{content:"\e093"}.glyphicon-arrow-down:before{content:"\e094"}.glyphicon-share-alt:before{content:"\e095"}.glyphicon-resize-full:before{content:"\e096"}.glyphicon-resize-small:before{content:"\e097"}.glyphicon-exclamation-sign:before{content:"\e101"}.glyphicon-gift:before{content:"\e102"}.glyphicon-leaf:before{content:"\e103"}.glyphicon-fire:before{content:"\e104"}.glyphicon-eye-open:before{content:"\e105"}.glyphicon-eye-close:before{content:"\e106"}.glyphicon-warning-sign:before{content:"\e107"}.glyphicon-plane:before{content:"\e108"}.glyphicon-calendar:before{content:"\e109"}.glyphicon-random:before{content:"\e110"}.glyphicon-comment:before{content:"\e111"}.glyphicon-magnet:before{content:"\e112"}.glyphicon-chevron-up:before{content:"\e113"}.glyphicon-chevron-down:before{content:"\e114"}.glyphicon-retweet:before{content:"\e115"}.glyphicon-shopping-cart:before{content:"\e116"}.glyphicon-folder-close:before{content:"\e117"}.glyphicon-folder-open:before{content:"\e118"}.glyphicon-resize-vertical:before{content:"\e119"}.glyphicon-resize-horizontal:before{content:"\e120"}.glyphicon-hdd:before{content:"\e121"}.glyphicon-bullhorn:before{content:"\e122"}.glyphicon-bell:before{content:"\e123"}.glyphicon-certificate:before{content:"\e124"}.glyphicon-thumbs-up:before{content:"\e125"}.glyphicon-thumbs-down:before{content:"\e126"}.glyphicon-hand-right:before{content:"\e127"}.glyphicon-hand-left:before{content:"\e128"}.glyphicon-hand-up:before{content:"\e129"}.glyphicon-hand-down:before{content:"\e130"}.glyphicon-circle-arrow-right:before{content:"\e131"}.glyphicon-circle-arrow-left:before{content:"\e132"}.glyphicon-circle-arrow-up:before{content:"\e133"}.glyphicon-circle-arrow-down:before{content:"\e134"}.glyphicon-globe:before{content:"\e135"}.glyphicon-wrench:before{content:"\e136"}.glyphicon-tasks:before{content:"\e137"}.glyphicon-filter:before{content:"\e138"}.glyphicon-briefcase:before{content:"\e139"}.glyphicon-fullscreen:before{content:"\e140"}.glyphicon-dashboard:before{content:"\e141"}.glyphicon-paperclip:before{content:"\e142"}.glyphicon-heart-empty:before{content:"\e143"}.glyphicon-link:before{content:"\e144"}.glyphicon-phone:before{content:"\e145"}.glyphicon-pushpin:before{content:"\e146"}.glyphicon-usd:before{content:"\e148"}.glyphicon-gbp:before{content:"\e149"}.glyphicon-sort:before{content:"\e150"}.glyphicon-sort-by-alphabet:before{content:"\e151"}.glyphicon-sort-by-alphabet-alt:before{content:"\e152"}.glyphicon-sort-by-order:before{content:"\e153"}.glyphicon-sort-by-order-alt:before{content:"\e154"}.glyphicon-sort-by-attributes:before{content:"\e155"}.glyphicon-sort-by-attributes-alt:before{content:"\e156"}.glyphicon-unchecked:before{content:"\e157"}.glyphicon-expand:before{content:"\e158"}.glyphicon-collapse-down:before{content:"\e159"}.glyphicon-collapse-up:before{content:"\e160"}.glyphicon-log-in:before{content:"\e161"}.glyphicon-flash:before{content:"\e162"}.glyphicon-log-out:before{content:"\e163"}.glyphicon-new-window:before{content:"\e164"}.glyphicon-record:before{content:"\e165"}.glyphicon-save:before{content:"\e166"}.glyphicon-open:before{content:"\e167"}.glyphicon-saved:before{content:"\e168"}.glyphicon-import:before{content:"\e169"}.glyphicon-export:before{content:"\e170"}.glyphicon-send:before{content:"\e171"}.glyphicon-floppy-disk:before{content:"\e172"}.glyphicon-floppy-saved:before{content:"\e173"}.glyphicon-floppy-remove:before{content:"\e174"}.glyphicon-floppy-save:before{content:"\e175"}.glyphicon-floppy-open:before{content:"\e176"}.glyphicon-credit-card:before{content:"\e177"}.glyphicon-transfer:before{content:"\e178"}.glyphicon-cutlery:before{content:"\e179"}.glyphicon-header:before{content:"\e180"}.glyphicon-compressed:before{content:"\e181"}.glyphicon-earphone:before{content:"\e182"}.glyphicon-phone-alt:before{content:"\e183"}.glyphicon-tower:before{content:"\e184"}.glyphicon-stats:before{content:"\e185"}.glyphicon-sd-video:before{content:"\e186"}.glyphicon-hd-video:before{content:"\e187"}.glyphicon-subtitles:before{content:"\e188"}.glyphicon-sound-stereo:before{content:"\e189"}.glyphicon-sound-dolby:before{content:"\e190"}.glyphicon-sound-5-1:before{content:"\e191"}.glyphicon-sound-6-1:before{content:"\e192"}.glyphicon-sound-7-1:before{content:"\e193"}.glyphicon-copyright-mark:before{content:"\e194"}.glyphicon-registration-mark:before{content:"\e195"}.glyphicon-cloud-download:before{content:"\e197"}.glyphicon-cloud-upload:before{content:"\e198"}.glyphicon-tree-conifer:before{content:"\e199"}.glyphicon-tree-deciduous:before{content:"\e200"}.glyphicon-cd:before{content:"\e201"}.glyphicon-save-file:before{content:"\e202"}.glyphicon-open-file:before{content:"\e203"}.glyphicon-level-up:before{content:"\e204"}.glyphicon-copy:before{content:"\e205"}.glyphicon-paste:before{content:"\e206"}.glyphicon-alert:before{content:"\e209"}.glyphicon-equalizer:before{content:"\e210"}.glyphicon-king:before{content:"\e211"}.glyphicon-queen:before{content:"\e212"}.glyphicon-pawn:before{content:"\e213"}.glyphicon-bishop:before{content:"\e214"}.glyphicon-knight:before{content:"\e215"}.glyphicon-baby-formula:before{content:"\e216"}.glyphicon-tent:before{content:"\26fa"}.glyphicon-blackboard:before{content:"\e218"}.glyphicon-bed:before{content:"\e219"}.glyphicon-apple:before{content:"\f8ff"}.glyphicon-erase:before{content:"\e221"}.glyphicon-hourglass:before{content:"\231b"}.glyphicon-lamp:before{content:"\e223"}.glyphicon-duplicate:before{content:"\e224"}.glyphicon-piggy-bank:before{content:"\e225"}.glyphicon-scissors:before{content:"\e226"}.glyphicon-bitcoin:before{content:"\e227"}.glyphicon-btc:before{content:"\e227"}.glyphicon-xbt:before{content:"\e227"}.glyphicon-yen:before{content:"\00a5"}.glyphicon-jpy:before{content:"\00a5"}.glyphicon-ruble:before{content:"\20bd"}.glyphicon-rub:before{content:"\20bd"}.glyphicon-scale:before{content:"\e230"}.glyphicon-ice-lolly:before{content:"\e231"}.glyphicon-ice-lolly-tasted:before{content:"\e232"}.glyphicon-education:before{content:"\e233"}.glyphicon-option-horizontal:before{content:"\e234"}.glyphicon-option-vertical:before{content:"\e235"}.glyphicon-menu-hamburger:before{content:"\e236"}.glyphicon-modal-window:before{content:"\e237"}.glyphicon-oil:before{content:"\e238"}.glyphicon-grain:before{content:"\e239"}.glyphicon-sunglasses:before{content:"\e240"}.glyphicon-text-size:before{content:"\e241"}.glyphicon-text-color:before{content:"\e242"}.glyphicon-text-background:before{content:"\e243"}.glyphicon-object-align-top:before{content:"\e244"}.glyphicon-object-align-bottom:before{content:"\e245"}.glyphicon-object-align-horizontal:before{content:"\e246"}.glyphicon-object-align-left:before{content:"\e247"}.glyphicon-object-align-vertical:before{content:"\e248"}.glyphicon-object-align-right:before{content:"\e249"}.glyphicon-triangle-right:before{content:"\e250"}.glyphicon-triangle-left:before{content:"\e251"}.glyphicon-triangle-bottom:before{content:"\e252"}.glyphicon-triangle-top:before{content:"\e253"}.glyphicon-console:before{content:"\e254"}.glyphicon-superscript:before{content:"\e255"}.glyphicon-subscript:before{content:"\e256"}.glyphicon-menu-left:before{content:"\e257"}.glyphicon-menu-right:before{content:"\e258"}.glyphicon-menu-down:before{content:"\e259"}.glyphicon-menu-up:before{content:"\e260"}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}