							<form action="reportTest">
							
							<#assign etlGroups=delegator.findAll("ReportConfiguration",false)?if_exists/>
							<#if etlGroups?has_content>	
								<select name="reportRegistryId">
								<#list etlGroups as group>
									<option value="${group.reportRegistrId?if_exists}" >${group.reportName?if_exists} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>	
								</#list>
								</select>
								
								
								<select name="downloadFormat">
								<#list etlGroups as group1>
									<option value="${group1.reportFormat?if_exists}" >${group1.reportFormat?if_exists} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>	
								</#list>
								</select>
							</#if>
							<input type="submit" value="Generate">
							</form>