/************************ Muruga 11 July 2016 ***********************/
body {
	color: #333 !important;
	font-family: "Open Sans", sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 14px !important;
	direction: ltr;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 0px 15px !important;
	font-size: 18px;
	line-height: 20px;
}

.color-demo .color-view {
	padding: 35px 10px;
	text-align: center;
	font-size: 16px !important;
	text-transform: capitalize !important;
	font-weight: normal !important;
}

.color-demo .color-info {
	font-size: 16px !important;
}

.dropdown-menu {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}

.dropdown-menu>li>a {
	display: block;
	clear: both;
	font-weight: normal !important;
	line-height: 1.42857143 !important;
	white-space: nowrap;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
	color: #fff !important;
}

.dropdown-menu li>a>[class^="icon-"],.dropdown-menu li>a>[class*=" icon-"]
	{
	color: inherit !important;
}

.portlet {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
}

.portlet.light {
	padding: 0px !important;
	background-color: #eff3f5 !important;
}

.band {
	background-color: #082935 !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	padding: 8px 10px;
	color: #fff !important;
	/*color code added by m.vijayakumar date:12/07/2016*/
}

.band-b {
	background-color: #00AFF0 !important;
	padding: 8px 10px !important;
	color: #fff !important;
}

.portlet.light>.portlet-title>.actions {
	padding: 10px !important;
}

.portlet .light>.portlet-title:NOT(.tin-tin)
{
min-height:35px!important;
background:#00AFF0;
border-radius:4px 4px 0px 0px !important;
} /*modifed by m.vijayakumar date:12/07/2016*/

.portlet.light>.portlet-title>.caption {
	color: #fff !important;
	padding: 8px 10px !important;
}

.portlet.light>.portlet-title>.caption>i {
	color: #fff;
}

.form-control {
	height: 25px !important;
	border-radius: 3px;
	margin: 5px 0px;
	padding: 0px 0px 0px 5px !important;
}

.portlet .light >.portlet-title>.actions:NOT(.margin-resolve){
margin-right:11px; /* margin-top: 10px; */
margin-left:5px; /*added for margin icon in portlet by m.vijayakumar*/
}
/* legend {color: #fff !important;  } */
.badge-primary {
	background-color: #ffffff !important;
}

.badge {
	color: #333 !important;
}

.nav-tabs>li>a {
	padding: 6px 15px !important;
}

.nav-pills>li>a {
	padding: 3px 15px !important;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover
	{
	color: #fff;
	background-color: #000 !important;
}

.bold {
	font-weight: normal !important;
	color: #fff !important;
}

.search-form .form-group {
	border: 0px solid #ccc !important;
	margin-top: 10px;
}

.panel {
	border-radius: 0px !important;
}

.panel-title>a {
	font-size: 16px !important;
	font-weight: 700 !important;
	font-family: "Open Sans", sans-serif !important;
}

.btn-info {
	color: #333 !important;
	background-color: #fff !important;
	border-color: #ffffff !important;
}

.btn-info:hover {
	color: #fff !important;
	background-color: #00AFF0 !important;
	border-color: #00AFF0 !important;
	text-align: center !important;
}
/* .btn:hover {
    color: #082935 !important;
} */
.dropdown-menu>li>a:hover {
	background: #00AFF0 !important;
}

.nav-tabs,.nav-pills {
	padding-top: 10px;
}

.search-form .form-group input.form-control {
	padding: 0px 40px 0px 5px !important;
	background: transparent !important;
	border: none !important;
}

/*by m.vijayakumar date:12/07/2016 for porlet padding issue fix on csv header name*/
.portlet.light>.portlet-title>.actions {
	padding: 0px !important;
}

.band>span.portlet-title.tin-tin {
	color: #fff !important;
}

.list-group {
	padding-left: 3px !important;
}

.portlet.light>.portlet-title {
	min-height: 0px !important;
}

.btn {
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0px rgba(0, 0, 0, -0.0)
		!important;;
}

a[data-toggle="collapse"] {
	font-weight: normal !important;
}

.scroller {
	margin-left: 5px !important;
	margin-top: 10px !important;
}

.portlet.light>.portlet-title>.actions .btn-icon-only {
	margin-top: 4px !important;
}

.portlet>.portlet-title>.actions>.btn-group>.btn {
	padding: 4px 10px;
	font-size: 13px;
	line-height: 1;
}

.portlet.light>.portlet-title>.caption>.caption-subject {
	text-transform: capitalize !important;
}

.filter-option {
	text-transform: capitalize;
}

.portlet>.portlet-title {
	margin-bottom: 0px !important;
}

.tooltips>span.badge {
	background-color: #337ab7 !important;
	color: #fff !important;
}

.input-group .form-control {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

span.input-group-addon.btn.default.btn-file {
	height: 0px !important;
	line-height: 0 !important;
}

.portlet-body-grey {
	background-color: #eff3f5 !important;
}

select.form-control {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

@media ( min-width : 768px) .form-horizontal .control-label {
	padding-top :3px!important	;
}

th.info,.table>tr {
	background-color: #00AFF0 !important;
	font-size: 14px !important;
}

.btn-primary {
	color: #fff !important;
	background-color: #ff5722 !important;
	border-color: #ff5722 !important;
	text-align: center !important;
}

.btn-primary:hover,.btn-primary:focus {
	color: #fff !important;
	background-color: #082935 !important;
	border-color: #082935 !important;
	text-align: center !important;
}

input[type="button"],.btn {
	text-transform: capitalize !important;
}

.btn-xs:NOT(.btn-group)
{
padding:5px 8px 5px 8px;
font-size:13px!important;
}
select.btn-xs {
	padding: 0px 0px 0px 0px !important;
}

/*end @vijayakumar*/
label {
	font-weight: 400;
	font-size: 14px !important;
}

.btn-danger {
	background-color: #f42a29 !important;
}

.btn-danger {
	color: #fff !important;
	background-color: #ff5722 !important;
	border-color: #ff5722 !important;
	text-align: center !important;
}

.btn-danger:hover {
	color: #fff !important;
	background-color: #d1291b !important;
	border-color: #d1291b !important;
	text-align: center;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
	{
	color: #fff !important;
}

.nav-tabs>li>a:hover {
	color: #fff !important;
}

.nav>li>a:hover {
	background-color: #00AFF0 !important;
	color: #FFF !important;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover
	{
	color: #fff !important;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active
	{
	background-color: #ffffff !important;
	border-color: #ffffff !important;
}

legend.scheduler-border {
	/* color: #fff; */
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
	{
	background-color: #00AFF0 !important;
}

/* .nav-tabs>li>a {
	background-color: #000000 !important;
}
/* .form-control{background-color:transparent !important;} */
.form-control {
	background-color: #fff !important;
}

.form-group
.form-control:NOT
(.uneditable-input),
.bs-select:NOT(.uneditable-input)
{background-color:transparent!important;
}
select {
	background-color: #fff !important;
}

.blue.btn {
	color: #FFFFFF;
	background-color: #00AFF0 !important;
	font-size: 12px;
	padding: 3px 8px 3px 8px;
}

.blue.btn:hover {
	color: #333 !important;
	background-color: #fff !important;
}

.tab-content>.active {
	min-height: auto !important;
}

#getSelected {
	background-color: #fff !important;
}

a:focus,a:hover {
	color: #00AFF0 !important;
}

.table {
	background-color: transparent !important;
}

.table-scrollable {
	border: 0px !important;
}

/*aug 05/08/2016*/
.modal-header {
	padding: 1px 5px !important;
}

.list-group-item {
	padding: 5px 15px !important;
	margin-bottom: 0px !important;
}

.social_media {
	position: relative;
	float: right;
	bottom: 6px;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active
	{
	color: #333 !important;
	background-color: #fd3d00;
	border-color: #fd3d00;
}

.actions.inline-reflex {
	margin-right: 6px !important;
	margin-top: 6px !important;
}

.portlet.light>.portlet-title>.actions {
	margin-right: 5px !important;
}

li.list-group-item.active {
	border-color: #00AFF0;
}

h4.panel-title>a {
	color: #fff !important;
}

.list-group-item.active,.list-group-item.active:focus,.list-group-item.active:hover
	{
	border-color: #00AFF0 !important;
}

span.input-group-addon {
	padding: 0px 5px 0px 5px !important; /*on doubt*/
}

.btn-fix {
	font-size: 10px;
	padding: 2px 6px;
	height: auto !important;
}

.modal .modal-header .close {
	margin-top: 6px !important;
}

.portlet-margin {
	min-height: 450px !important;
	border: 0px solid #B6BFC1 !important"
}

.model_name {
	font-size: 14px !important;
	padding-left: 5px !important;
	margin-top: 0px !important;
}

div.radio span,div.radio input {
	width: 16px !important;
}

.checkbox-inline,.radio-inline {
	padding-left: 0px !important;
}

.list-group-item {
	border: 1px solid #eff3f5 !important;
}

.portlet.light.bordered {
	border: none !important;
}

.modal-title {
	color: #fff !important;
}

.form-group.form-md-line-input {
	padding-top: 0px !important;
}

.sub_bt {
	border-radius: 5px !important;
}

.btn.btn-sm {
	padding: 4px 14px 4px 14px !important;
}

.portlet.light .portlet-body {
	padding: 5px 0px !important;
}

button.btn.dropdown-toggle.selectpicker.btn-default {
	background-color: white !important;
	padding: 0px 24px 0px 4px !important;
}

legend {
	/* color: #fff !important; */
}

/* .btn-group.bootstrap-select.bs-select.form-control.btn-xs {
    background: transparent !important;
    margin-top: 2px;
} */
ul.left_margin {
	padding: 0px 5px !important;
}

.left_margin_portlet {
	margin: 10px 15px !important;
}

.btn-warning {
	color: #333 !important;
	background-color: #fff !important;
	border-color: #ffffff !important;
}

.btn-warning:hover {
	color: #fff !important;
	background-color: #333 !important;
	border-color: #00AFF0 !important;
	text-align: center !important;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
	{
	padding: 5px 5px !important;
	border-top: 0px solid #49494b !important;
}

.table {
	margin-bottom: 0px !important;
}

.portlet>.portlet-title>.actions>.btn,.portlet>.portlet-title>.actions>.btn-group>.btn,.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,.portlet>.portlet-title>.actions>.btn.btn-sm
	{
	line-height: 1.3 !important;
}

.btn_twoPx {
	margin-top: 5px !important;
}

.table-scrollable {
	padding: 6px;
}

.nav-tabs {
	background-color: transparent !important;
}

a:focus,a:hover {
	color: #000000 !important;
	text-decoration: none;
}

.page-content-wrapper {
	/* background-color:#EFF3F5 !important; */
	/* padding-top:10px; */
	
}

.zero {
	padding: 0px !important;
}

.align_bottom {
	vertical-align: bottom !important;
	margin-top: 5px;
}

.caret {
	top: 80% !important;
}

.table > tbody > tr:nth-of-type(2n+1)
{
	background-color: transparent !important;
	
}

#upload_fixe
{
	color: #333 !important;
}

#margin_adjuster
{
	margin-left:0px;
	margin-right:0px;
}



table.dataTable thead .sorting_asc:after {

    width:0px !important;
    float: inherit !important;
    padding: 4px !important;
}

table.dataTable thead .sorting_desc:after {

    width:0px !important;
    float: inherit !important;
    padding: 4px !important;
}

table.dataTable thead .sorting:after {

    width:0px !important;/*vijayakumar date:11/08/2016*/
    float: inherit  !important;
    padding: 4px  !important;
}
.btn.white:not(.btn-outline) {
color: #FFF !important;
background: transparent !important;
border-color: #fff !important;
padding: 5px 2px 3px 2px !important;
}

/************************ Muruga 11 Aug 2017 ***********************/
.tabbable-line > .nav-tabs > li > a {
    color: #ffffff !important;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #f3565d !important;
    background: #00aff0 !important;
}
.tabbable-line > .tab-content {background:none !important;}
.btn.default {
       color: #000000 !important;
    background-color: #ced3d6 !important;
}
.btn.default:hover, .btn.default:focus, .btn.default:active, .btn.default.active {
    color: #fff !important;
    background-color: #0a96ca !important;
}
.list-group-item input {min-width:270px;}
.gn {
color:#03ab37!important; }
.rd {
color:#ff0000!important;  }
.form-group {
    margin-bottom: 0px !important;
}
.control-label {
    margin-top: 6px!important;
}
.strong {
    font-weight: 700 !important;
}
input#search:active {padding: 0px 5px;}
.modal-header {
     color: #fff;
}
span.fa.fa-gear.pull-right.btn-info.btn-circle {   
 position: absolute;
    right: 9px;}
ul>li.list-group-item span
{   line-height: 24px;}