td.details-control {
    background: url('/pp-resource/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/pp-resource/images/details_close.png') no-repeat center center;
}
td .container-fluid {margin:20px 20px 20px 40px; width: 96%;  box-shadow:10px 10px 5px #ecebeb; background:#fff; }

#customer-list td   {
	padding: 6.5px 10px 6.5px 10px !important;
	
}