td.details-control {
    background: url('/um-resource/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/um-resource/images/details_close.png') no-repeat center center;
}
td .container-fluid {margin:20px 20px 20px 40px; width: 96%;  box-shadow:10px 10px 5px #ecebeb; background:#fff; }

#batch-job-list td   {
	padding: 6.5px 10px 6.5px 10px !important;
	
}

#list-emplPosition-batch-processor td   {
	padding: 2px 10px 2px 10px !important;
	
}

.detail-message {
	overflow-wrap: break-word;
}