<#include "component://homeapps/webapp/homeapps/lib/ofbizFormMacros.ftl"/>

<div class="page-header border-b">
	<h1 class="float-left">${uiLabelMap.Update} ${uiLabelMap.SegmentValue} <#if customFieldGroup.groupName?has_content>for [ ${customFieldGroup.groupName} <i class="fa fa-arrow-right" aria-hidden="true"></i> ${customField.customFieldName} ]</#if> </h1>
	<div class="float-right">
        <a href="/campaign/control/viewMarketingCampaign?marketingCampaignId=${marketingCampaignId!}&activeTab=drip" class="btn btn-xs btn-primary m5"> Back</a>
	</div>
</div>

<div class="row padding-r">
	<div class="col-md-6 col-sm-6">
		
		<div class="portlet-body form">
			
			
			
		</form>			
							
		</div>
			
	</div>
	
</div>
	
<script>

jQuery(document).ready(function() { 

});

</script>
