.highlighted > rect {
	fill: #337ab7;
	stroke: #84adec;
	stroke-width: 4px;
}
.mermaid .fa {font-size: 70px; text-align:center;  
 position:absolute; top:-25; z-index:-1; color:#fff; opacity:.1; }

#A .fa{left: -13%;}
#B .fa{left: 19%;}
#C .fa{left: 30%;}

.node:hover, .label:hover{stroke: #59a1f1 !important;}
.node circle, .node ellipse, .node polygon, .node rect {
	fill: #337ab7 !important;
    stroke: #84adec !important;
    stroke-width: 1px !important; cursor:pointer;	
	width:200px; height:100px; x: -100px !important; y: -50; 
}
.node circle:hover, .node ellipse:hover, .node polygon:hover,  .node rect:hover {fill: #6badf6 !important;
    stroke: #59a1f1 !important;
    stroke-width: 1px !important;}
.label{color: #fff !important;    font-size: 14px;
    text-align: center; font-family: verdana,arial;}
.edgeLabel{background-color: #fff !important;
    color: #337ab7 !important;}	
.edgePath .path {
    stroke: #84adec !important;
    stroke-width: 1.5px !important;
}	
.arrowheadPath {
    fill: #84adec !important;
}

.blue > rect, .blue > polygon, .blue > circle, .blue > ellipse { fill:#337ab7 !important;
        stroke:#84adec !important;
        stroke-width:1px !important; }
	
.green > rect, .green > polygon, .green > circle, .green > ellipse  { fill:#006a61 !important;
        stroke:#84ecc5 !important;
        stroke-width:1px !important; }
		
.yellow > rect, .yellow > polygon, .yellow > circle, .yellow > ellipse  { fill:#bca958 !important;
        stroke:#a99540 !important;
        stroke-width:1px !important; }	
		
.seagreen > rect, .seagreen > polygon, .seagreen > circle, .seagreen > ellipse  { fill:#33b7b3 !important;
        stroke:#2bd2ec !important;
        stroke-width:1px !important; }			



