/***
Page footer
***/
.page-footer {
	padding: 5px 20px 10px 20px;
	font-size: 13px;
	height: 33px;
	margin-top:6%;
}

.page-footer:before,.page-footer:after {
	content: " ";
	display: table;
}

.page-footer:after {
	clear: both;
}

.page-footer .page-footer-inner {
	float: left;
	display: inline-block;
}

.page-footer .page-footer-tools {
	float: right;
	display: inline-block;
}

.page-footer .page-footer-tools .go-top {
	display: block;
	text-decoration: none;
	cursor: pointer;
	margin-top: -2px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	padding: 0px 6px 0px 6px;
}

.page-footer .page-footer-tools .go-top i {
	font-size: 22px;
	margin-bottom: 5px;
}

.page-footer-fixed.page-footer-fixed-mobile .page-footer {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10000;
	bottom: 0;
}

.page-footer-fixed.page-footer-fixed-mobile.page-sidebar-fixed .page-footer
	{
	margin-left: 0 !important;
}

@media ( min-width : 992px) {
	/* 992px */
	/* Default footer */
	.page-footer {
		clear: left;
	}
	.page-boxed .page-footer {
		margin-left: 20px;
		margin-right: 20px;
	}

	/* Fixed footer */
	.page-footer-fixed .page-footer {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 10000;
		bottom: 0;
	}

	/* Footer with footer sidebar */
	.page-sidebar-fixed.page-sidebar-closed .page-footer {
		margin-left: 54px;
	}
	.page-sidebar-fixed.page-footer-fixed .page-footer {
		margin-left: 0 !important;
		padding: 8px 20px 5px 20px;
	}

	/* Fixed Sidebar */
	.page-sidebar-fixed .page-footer {
		margin-left: 235px;
		padding: 8px 20px 5px 40px;
	}

	/* Boxed page */
	.page-boxed .page-footer {
		padding: 8px 0 5px 0;
	}
	.page-boxed.page-sidebar-fixed .page-footer {
		padding-right: 20px;
		padding-left: 20px;
	}

	/* Page sidebar reversed */
	.page-sidebar-reversed.page-sidebar-fixed .page-footer {
		margin-left: 0;
		margin-right: 235px;
		padding: 8px 20px 5px 20px;
	}
	.page-sidebar-reversed.page-sidebar-fixed.page-footer-fixed .page-footer
		{
		margin-left: 0;
		margin-right: 0;
	}
	.page-sidebar-reversed.page-sidebar-fixed.page-sidebar-closed .page-footer
		{
		margin-right: 54px;
	}
}

@media ( max-width : 991px) {
	/* 991px */
	/* Boxed Layout */
	.page-footer {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media ( max-width : 767px) {
	/* 767px */
	/* Default footer & boxed footer */
	.page-footer,.page-boxed .page-footer {
		padding-left: 10px;
		padding-right: 10px;
	}

	/* Fixed footer */
	.page-footer-fixed .page-footer .container {
		padding-left: 0;
		padding-right: 0;
	}
}
/* Scroll Top Top */
.scroll-to-top {
	display: inline-block;
	padding: 2px;
	text-align: center;
	position: fixed;
	z-index: 10001;
	bottom: 10px;
	display: none;
	right: 10px;
}

.scroll-to-top>i {
	display: inline-block;
	color: #687991;
	font-size: 32px;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.scroll-to-top:hover {
	cursor: pointer;
}

.scroll-to-top:hover>i {
	opacity: 1;
	filter: alpha(opacity = 100);
}

@media ( min-width : 992px) {
	/* 992px */
	.scroll-to-top {
		right: 10px;
	}
}

@media ( max-width : 991px) {
	/* 991px */
	.scroll-to-top {
		right: 10px;
	}
	.scroll-to-top>i {
		font-size: 28px;
	}
	.table-scrollable {
   	 	overflow-x: auto;
    	overflow-y: hidden;
    	width: 100%;	
	}
}

/*Nav fix
*/
.nav-tabs, .nav-pills {
    margin-bottom: 0px !important;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none !important;
}
.navbar-brand1{
		    float: right;
		    font-size: 18px;
		    height: 50px;
		    line-height: 20px;
		    padding: 15px;
		}
@media(min-width:767px) {
.navbar-brand1{display:none !important;}}
/*
Model Fix
*/
.modal .modal-header {
    border-bottom:none;
}
.modal .modal-body {
		border-radius: 0px !important;
}
#toast-container.toast-top-center>div, #toast-container.toast-bottom-center>div {
    width: 500px !important;
}
.dataTables_processing {
    left: 43% !important;
}
.tt-suggestion {
    padding: 0px !important;
}

.media {
    margin-top: 0px !important;
}
.blockUI.blockOverlay {
    opacity: 1.5 !important;
    background-color: rgba(228, 157, 106, 0.32)!important;
}
td.right {
    padding-right: 35px !important;
}
.equalSizeCheckBox{
	width: 15px !important;
	height: 15px !important;	
}
.listCheckBoxSize{
	margin: 4px 7px 0 !important;
}
div.dataTables_filter input {
	display: inline-block !important;
}
div.dataTables_length select{
	display: inline-block !important;
}

.col-md-2.phone.first{
    padding: 0px !important;
    padding-left: 16px!important;
}
.col-md-2.phone{
    padding: 0px !important;
    padding-left: 3px!important;
}
.col-md-5.phone{
	padding: 0px !important;
    padding-left: 3px!important;
}