ul {
	list-style-type: none;
}

li.list-group-item.active {
	background-color: white !important;
	color: black !important;
}

.panel-group .panel {
	overflow: visible;
	height: auto !important;
}

a:focus, a:hover {
	color: black !important;
	text-decoration: none;
}

#accordions .panel-heading {
	background-color: #00AFF0 !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

fieldset.scheduler-border { //
	border: 1px groove #ddd !important; //
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 20px 0 0px 21px !important;
	border-bottom: none;
}

.page-container {
	margin: 0px;
	padding: 20px 20px 0 20px;
	position: relative;
	/* Fixed header */
	/* Fixed footer for mobile */
}

.page-container:before, .page-container:after {
	content: " ";
	display: table;
}

.page-container:after {
	clear: both;
}

.page-header-fixed .page-container {
	/* margin-top: 75px; */
}

.page-footer-fixed.page-footer-fixed-mobile .page-container {
	margin-bottom: 20px !important;
}

button.btn.btn-xs.green-turquoise {
	overflow: initial !important;
}

.btn.btn-xs {
	width: auto !important;
}

ul>li.list-group-item {
	color: white;
}
/*span.input-group-addon.btn.default.btn-file {
						background-color:#FF7300 !important;	
					}*/
span.fa.fa-question.pull-right.btn-info.btn-circle {
	height: auto !important;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: none !important;
}

.btn {
	background-color: ""
}

.nav-tabs {
	background-color: white !important;
	border-bottom: 1px solid #00AFF0 !important;
}

.btn-primary {
	color: #fff !important;
	background-color: #00BCD4 !important;
	border-color: #00a5bb !important;
}
/*.btn-warning {
					    color: #fff !important;
					    background-color: #f0ad4e !important;
					    border-color: #eea236 !important;
					}*/
span.fa.fa-question.pull-right.btn-info.btn-circle {
	font-size: 10px !important;
	width: 26px !important;
}

#error, #warning, #success, #skipped {
	padding: 0px 0px !important;
}

legend {
	margin-bottom: 0px !important;
}

.panel-group .panel+.panel {
	margin-top: 0px !important;
}

.uppercase {
	padding-left: 2px !important;
}

div.radio span, div.radio input {
	width: 15px !important;
}

span.make-circle {
	border-style: inset;
	/*border-radius: 10px 10px 10px 10px;*/
	background-color: #FF5722;
	border-color: #FF5722;
}

span.filter-option.pull-left {
	color: #666 !important;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 0px 15px !important;
	font-size: 18px;
	line-height: 20px;
}

/************************ Muruga 11 Aug 2017 *********************** [start]*/
.tabbable-line>.nav-tabs>li>a {
	color: #ffffff !important;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
	border-bottom: 4px solid #f3565d !important;
	background: #00aff0 !important;
}

/* .tabbable-line > .tab-content {background:none !important;} */
.btn.default {
	color: #000000 !important;
	background-color: #ced3d6 !important;
}

.btn.default:hover, .btn.default:focus, .btn.default:active, .btn.default.active
	{
	color: #fff !important;
	background-color: #0a96ca !important;
}

.list-group-item input {
	min-width: 270px;
}

.gn {
	color: #03ab37 !important;
}

.rd {
	color: #ff0000 !important;
}

.form-group {
	margin-bottom: 0px !important;
}

.control-label {
	margin-top: 6px !important;
}

.strong {
	font-weight: 700 !important;
}

input#search:active {
	padding: 0px 5px;
}

.modal-header {
	color: #fff;
}

span.fa.fa-gear.pull-right.btn-info.btn-circle {
	position: absolute;
	right: 9px;
}

ul>li.list-group-item span {
	line-height: 24px;
}

.portlet > .portlet-title > .tools > a.fullscreen {
	color: #acacac !important;
}

/************************ Muruga 11 Aug 2017 ********************** [end]*/

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
	{
	padding: 5px 5px !important;
	border-top: 0px solid #49494b !important;
}

.table {
	margin-bottom: 0px !important;
}

table.dataTable thead .sorting_asc:after {

    width:0px !important;
    float: inherit !important;
    padding: 4px !important;
}

table.dataTable thead .sorting_desc:after {

    width:0px !important;
    float: inherit !important;
    padding: 4px !important;
}

table.dataTable thead .sorting:after {

    width:0px !important;/*vijayakumar date:11/08/2016*/
    float: inherit  !important;
    padding: 4px  !important;
}

/* alert css [start] */

.alert {
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px
}

.alert h4 {
	margin-top: 0;
	color: inherit
}

.alert>p, .alert>ul {
	margin-bottom: 0
}

.alert>p+p {
	margin-top: 5px
}

.alert-dismissable, .alert-dismissible {
	padding-right: 35px
}

.alert-dismissable .close, .alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit
}

.alert-success {
	background-color: #abe7ed;
	border-color: #abe7ed;
	color: #27a4b0
}

.alert-success hr {
	border-top-color: #96e1e8
}

.alert-success .alert-link {
	color: #1d7d86
}

.alert-info {
	background-color: #e0ebf9;
	border-color: #e0ebf9;
	color: #327ad5
}

.alert-info hr {
	border-top-color: #caddf4
}

.alert-info .alert-link {
	color: #2462b0
}

.alert-warning {
	background-color: #f9e491;
	border-color: #f9e491;
	color: #c29d0b
}

.alert-warning hr {
	border-top-color: #f7de79
}

.alert-warning .alert-link {
	color: #927608
}

.alert-danger {
	background-color: #fbe1e3;
	border-color: #fbe1e3;
	color: #e73d4a
}

.alert-danger hr {
	border-top-color: #f8cace
}

.alert-danger .alert-link {
	color: #d71b29
}

/* alert css [end] */

.themeprimary {
	color: #2dc3e8 !important
}

.themesecondary {
	color: #fb6e52 !important
}

.themethirdcolor {
	color: #ffce55 !important
}

.themefourthcolor {
	color: #a0d468 !important
}

.themefifthcolor {
	color: #e75b8d !important
}

.white {
	color: #fff !important
}

.snow {
	color: #fbfbfb !important
}

.whitesmoke {
	color: #f5f5f5 !important
}

.seashell {
	color: #f3f3f3 !important
}

.ivory {
	color: #eee !important
}

.platinum {
	color: #e5e5e5 !important
}

.lightgray {
	color: #d0d0d0 !important
}

.gray {
	color: #ccc !important
}

.darkgray {
	color: #999 !important
}

.silver {
	color: #777 !important
}

.sonic-silver {
	color: #737373 !important
}

.storm-cloud {
	color: #666 !important
}

.lightcarbon {
	color: #555 !important
}

.carbon {
	color: #444 !important
}

.slate-gray {
	color: #333 !important
}

.darkcarbon {
	color: #262626 !important
}

.sky {
	color: #11a9cc !important
}

.azure {
	color: #2dc3e8 !important
}

.blueberry {
	color: #6f85bf !important
}

.palegreen {
	color: #a0d468 !important
}

.green {
	color: #8cc474 !important
}

.lightyellow {
	color: #f6d52e !important
}

.yellow {
	color: #ffce55 !important
}

.gold {
	color: #f9b256 !important
}

.orange {
	color: #fb6e52 !important
}

.lightred {
	color: #e46f61 !important
}

.darkorange {
	color: #ed4e2a !important
}

.red {
	color: #df5138 !important
}

.pink {
	color: #e75b8d !important
}

.darkpink {
	color: #cc324b !important
}

.danger {
	color: #d73d32 !important
}

.magenta {
	color: #bc5679 !important
}

.purple {
	color: #7e3794 !important
}

.maroon {
	color: #981b48 !important
}

.info {
	color: #57b5e3 !important
}